.node-red/electronflow.json
[{"id":"f685ac4f.52a3c","type":"tab","label":"DATV Simple V1.03","disabled":false,"info":"It hath the spectrum"},{"id":"b2eead3c.d4e24","type":"tab","label":"Profile Setup","disabled":false,"info":""},{"id":"d9ba26fa.6d2b18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#8e0d17","baseFont":"Gill Sans,Geneva,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#d80005","edited":true},"page-titlebar-backgroundColor":{"value":"#8e0d17","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#d41322","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#8e0d17","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Gill Sans,Geneva,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87356b62.92e3d8","type":"ui_group","z":"","name":"Text to Speech","tab":"52a903f3.ad56fc","order":3,"disp":true,"width":"6"},{"id":"c75ad4f0.0cede8","type":"ui_group","z":"","name":"Map","tab":"52a903f3.ad56fc","order":4,"disp":true,"width":"6"},{"id":"6877762.b397688","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"552095e.ac6816c","order":4,"width":1,"height":1},{"id":"35929d8b.eaeaa2","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":2,"width":1,"height":1},{"id":"c1c385cb.24c778","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":7,"width":1,"height":1},{"id":"c373640e.1b4e98","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":8,"width":1,"height":1},{"id":"a4ca434d.507d8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":11,"width":1,"height":1},{"id":"ead6f31a.f4f86","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":12,"width":1,"height":1},{"id":"b2dd15f9.d02818","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":18,"width":1,"height":1},{"id":"b9c47fc3.e5a59","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":19,"width":1,"height":1},{"id":"e97971c4.d6c34","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":24,"width":1,"height":1},{"id":"a5bafbea.6a0018","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":25,"width":1,"height":1},{"id":"e57a2953.8d9038","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":30,"width":1,"height":1},{"id":"f0ffd760.8d4b28","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":31,"width":1,"height":1},{"id":"e6ec9de6.ebe5b","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":33,"width":1,"height":1},{"id":"9056f30c.fb0e8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":35,"width":1,"height":1},{"id":"2b8af4bb.35b75c","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":36,"width":1,"height":1},{"id":"544303df.ea700c","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":38,"width":1,"height":1},{"id":"cf0eb561.bfed28","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":40,"width":1,"height":1},{"id":"1543431d.082d1d","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":41,"width":1,"height":1},{"id":"640ee17d.22e56","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":43,"width":1,"height":1},{"id":"e908b330.a14b2","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":45,"width":1,"height":1},{"id":"8a996c0f.b4588","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":46,"width":1,"height":1},{"id":"fff02738.c3a3a8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":51,"width":1,"height":1},{"id":"c4212b62.cc9488","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":52,"width":1,"height":1},{"id":"afe3c728.b5c988","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":54,"width":1,"height":1},{"id":"ef9e8d08.c90a8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":55,"width":1,"height":1},{"id":"227070c4.f7c55","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":57,"width":9,"height":1},{"id":"2d3979f.7745b86","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"881c0f84.21fa5","order":59,"width":2,"height":1},{"id":"9f741180.1058d","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":1,"width":1,"height":1},{"id":"51f4e599.54662c","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":3,"width":1,"height":1},{"id":"d5dfa836.e89758","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":5,"width":1,"height":1},{"id":"19500f3b.dcb151","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":6,"width":1,"height":1},{"id":"be8a28e4.4d4928","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":8,"width":1,"height":1},{"id":"25f61f05.32e01","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":10,"width":1,"height":1},{"id":"fa206ec2.be08b","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":11,"width":1,"height":1},{"id":"9078e89f.cd7428","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":13,"width":1,"height":1},{"id":"f1fe1937.5b56a8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":15,"width":1,"height":1},{"id":"cfedcb5d.062648","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":16,"width":1,"height":1},{"id":"2755c033.64c5","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":18,"width":1,"height":1},{"id":"b43d0eb9.56a5f","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":20,"width":1,"height":1},{"id":"d8031e96.ff2fe","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":21,"width":1,"height":1},{"id":"5ca56c61.d9ef54","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":23,"width":1,"height":1},{"id":"90bb6228.a9e9d","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":25,"width":1,"height":1},{"id":"e344c45e.d213a8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":26,"width":1,"height":1},{"id":"8f5a15f9.bbba78","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":28,"width":1,"height":1},{"id":"a77aa197.21119","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":30,"width":1,"height":1},{"id":"f14d2db2.e9ce9","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":31,"width":1,"height":1},{"id":"821ac9a8.d8c288","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":33,"width":1,"height":1},{"id":"bb9ec391.d69d4","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":35,"width":1,"height":1},{"id":"9b514b46.0f69d8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":36,"width":1,"height":1},{"id":"b26c1725.94b348","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":38,"width":1,"height":1},{"id":"782deca2.a91af4","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":40,"width":1,"height":1},{"id":"88b6a686.65b9c8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":41,"width":1,"height":1},{"id":"95d168ca.fee398","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":43,"width":1,"height":1},{"id":"9fb63906.043d78","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":45,"width":1,"height":1},{"id":"36c0867a.18e4ba","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":47,"width":1,"height":1},{"id":"d1fda2f1.4494d","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":49,"width":1,"height":1},{"id":"c4533047.187b9","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":50,"width":1,"height":1},{"id":"24ea0463.644e5c","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":52,"width":1,"height":1},{"id":"c7be3da.78d36c","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":54,"width":1,"height":1},{"id":"3dbb082b.183ca8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":56,"width":1,"height":1},{"id":"9c83895a.ea70f8","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":58,"width":1,"height":1},{"id":"6c42539b.88c24c","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":59,"width":1,"height":1},{"id":"e9677e33.64519","type":"ui_spacer","z":"f685ac4f.52a3c","name":"spacer","group":"44fd92d9.5ab13c","order":61,"width":1,"height":1},{"id":"a0ae5e4b.75b43","type":"mqtt-broker","z":"","name":"Pluto_tuin","broker":"192.168.2.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"881c0f84.21fa5","type":"ui_group","name":"TX","tab":"f734bf01.860b6","order":5,"disp":false,"width":"19","collapse":false,"className":""},{"id":"44fd92d9.5ab13c","type":"ui_group","name":"Profiles","tab":"f734bf01.860b6","order":6,"disp":true,"width":"13","collapse":false,"className":""},{"id":"b6dcd51c.bdabb8","type":"ui_group","name":"Status bar","tab":"f734bf01.860b6","order":2,"disp":false,"width":"16","collapse":false,"className":""},{"id":"552095e.ac6816c","type":"ui_group","name":"Status bar2","tab":"f734bf01.860b6","order":3,"disp":false,"width":"16","collapse":false,"className":""},{"id":"b25f7c03.f1938","type":"ui_group","name":"Buffer","tab":"a8a85534.eaaed8","order":1,"disp":false,"width":"32","collapse":false,"className":""},{"id":"c5d558e5.eb16c8","type":"ui_group","name":"Spectrum","tab":"f734bf01.860b6","order":4,"disp":false,"width":"32","collapse":false,"className":""},{"id":"f734bf01.860b6","type":"ui_tab","name":"DATV Simple","icon":"fa-fire","order":1,"disabled":false,"hidden":false},{"id":"a8a85534.eaaed8","type":"ui_tab","name":"Buffer","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c558249f.7fa428","type":"ui_group","name":"Profiles","tab":"d91cda2f.37b928","order":6,"disp":true,"width":"13","collapse":false,"className":""},{"id":"bccf2f9.e8b46d","type":"ui_group","name":"DEFAULT","tab":"5c0dd31e.5f174c","order":1,"disp":false,"width":"44","collapse":false,"className":""},{"id":"d91cda2f.37b928","type":"ui_tab","name":"DATV Simple","icon":"fa-fire","order":1,"disabled":false,"hidden":false},{"id":"5c0dd31e.5f174c","type":"ui_tab","name":"HOME","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"cc7d5b99.cce2a8","type":"group","z":"f685ac4f.52a3c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e6bb4e6e08658367"],"w":3164,"h":1980,"x":988,"y":-27,"wires":[]},{"id":"d3b4311c.b9b4b","type":"group","z":"f685ac4f.52a3c","g":"e6bb4e6e08658367","name":"Disabled for breaking pluto...","style":{"stroke":"#000000","fill":"#ff7f7f","label":true,"color":"#ffffff","fill-opacity":"0.63"},"nodes":["c6c7b77c513dc67d","7f859a7a7ee27404","680e1065a1131216","139c2af2cc88bd80","64b6e4713fac94bf","9335bff762d93722","45b5b704879d30fe","c8c1c80d91c7c4b9"],"w":792,"h":302,"x":2034,"y":1599,"wires":[]},{"id":"7f2af4d2.e1a8ac","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1280,"wires":[["70d4daaa.a7c204","16df5e90.8c3ea1"]]},{"id":"31d4f73b.62f448","type":"ui_text","z":"f685ac4f.52a3c","group":"881c0f84.21fa5","order":3,"width":6,"height":1,"name":"","label":"Frequency","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"17","color":"#ffffff","x":710,"y":1080,"wires":[]},{"id":"baa651e8.f6449","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"Channel","tooltip":"","place":"","group":"881c0f84.21fa5","order":9,"width":6,"height":1,"passthru":false,"multiple":false,"options":[{"label":"144.600 Mhz","value":"144600000","type":"str"},{"label":"436 Mhz","value":"436000000","type":"str"},{"label":"437 Mhz","value":"437000000","type":"str"},{"label":"1242 Mhz","value":"1242000000","type":"str"},{"label":"1255 Mhz","value":"1255000000","type":"str"},{"label":"1280 Mhz","value":"1280000000","type":"str"},{"label":"CH1 333KS","value":"2403249920","type":"str"},{"label":"CH2 125KS","value":"2403500030","type":"str"},{"label":"CH3 333KS 1MS","value":"2403749886","type":"str"},{"label":"CH4 125KS","value":"2404000000","type":"str"},{"label":"CH5 333KS","value":"2404250110","type":"str"},{"label":"CH6 125KS","value":"2404499966","type":"str"},{"label":"CH7 333KS","value":"2404750080","type":"str"},{"label":"CH8 125KS","value":"2404999936","type":"str"},{"label":"CH9 333KS 1MS","value":"2405250046","type":"str"},{"label":"CH10 125KS","value":"2405499902","type":"str"},{"label":"CH11 333KS","value":"2405750016","type":"str"},{"label":"CH12 125KS","value":"2406000126","type":"str"},{"label":"CH13 333KS","value":"2406249982","type":"str"},{"label":"CH14 125KS","value":"2406500096","type":"str"},{"label":"CH15 333KS 1MS","value":"2406749952","type":"str"},{"label":"CH16 125KS","value":"2407000062","type":"str"},{"label":"CH17 333KS","value":"2407249918","type":"str"},{"label":"CH18 125KS","value":"2407500032","type":"str"},{"label":"CH19 333KS","value":"2407749888","type":"str"},{"label":"CH20 125KS","value":"2407999998","type":"str"},{"label":"CH21 333KS","value":"2408250112","type":"str"},{"label":"CH22 125KS","value":"2408499968","type":"str"},{"label":"CH23 333KS","value":"2408750078","type":"str"},{"label":"CH24 125KS","value":"2408999936","type":"str"},{"label":"CH25 333KS","value":"2409250048","type":"str"},{"label":"CH26 125KS","value":"2409499902","type":"str"},{"label":"CH27 333KS","value":"2409750014","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1440,"y":1060,"wires":[["d3d1cd37.b3619"]]},{"id":"6369a9d0.d32b78","type":"ui_slider","z":"f685ac4f.52a3c","name":"TX Gain","label":"","tooltip":"","group":"881c0f84.21fa5","order":27,"width":10,"height":1,"passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"-89","max":"0","step":"-0.25","className":"","x":1440,"y":960,"wires":[["76ed47d6.7676d8"]]},{"id":"26bdafff.bdb8c","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"Mode","tooltip":"","place":"Select option","group":"881c0f84.21fa5","order":32,"width":8,"height":1,"passthru":false,"multiple":false,"options":[{"label":"dvbs2-ts","value":"dvbs2-ts","type":"str"},{"label":"dvbs2-gse","value":"dvbs2-gse","type":"str"},{"label":"Carrier","value":"test","type":"str"},{"label":"pass","value":"pass","type":"str"},{"label":"dvbs-ts","value":"dvbs-ts","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1430,"y":1180,"wires":[["511f9bbd.a48b44"]]},{"id":"a72c13c6.4942","type":"mqtt out","z":"f685ac4f.52a3c","name":"","topic":"","qos":"","retain":"","broker":"a0ae5e4b.75b43","x":2170,"y":940,"wires":[]},{"id":"8c06841b.a2eaf8","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"SampleRate","tooltip":"","place":"Samplerate","group":"44fd92d9.5ab13c","order":12,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"35KS","value":35000,"type":"num"},{"label":"66 KS","value":66000,"type":"num"},{"label":"125 KS","value":125000,"type":"num"},{"label":"250 KS","value":250000,"type":"num"},{"label":"333 KS","value":333000,"type":"num"},{"label":"500 KS","value":500000,"type":"num"},{"label":"1 MS","value":1000000,"type":"num"},{"label":"1.5 MS","value":1500000,"type":"num"},{"label":"2 MS","value":2000000,"type":"num"},{"label":"3 MS","value":3000000,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1450,"y":1120,"wires":[["5cb4c47e.a1580c"]]},{"id":"a9de0706.3f2cc8","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1040,"wires":[["31d4f73b.62f448","8c611b01.d25828"]]},{"id":"70d4daaa.a7c204","type":"ui_text","z":"f685ac4f.52a3c","group":"881c0f84.21fa5","order":4,"width":3,"height":1,"name":"","label":"Muted ","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":690,"y":1320,"wires":[]},{"id":"34a8a9dc.0f8926","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":960,"wires":[["5a05019c.48cd4"]]},{"id":"fcbe8771.88edd8","type":"ui_text","z":"f685ac4f.52a3c","group":"881c0f84.21fa5","order":26,"width":3,"height":1,"name":"","label":"Gain","format":"{{msg.payload}} dB","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":730,"y":1000,"wires":[]},{"id":"4604331c.deeecc","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"Fec","tooltip":"","place":"Select option","group":"44fd92d9.5ab13c","order":17,"width":5,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","className":"","x":1430,"y":760,"wires":[["14a6b4e6.7aa6db"]]},{"id":"e9d088a6.eaf278","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1200,"wires":[["25b0d99b.45e646"]]},{"id":"4c33bfc8.82739","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1120,"wires":[["64e47d53.7550a4"]]},{"id":"f99a80b8.fa2ff","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":800,"wires":[["41e81a22.0d4154"]]},{"id":"82c7a66f.5ac048","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":880,"wires":[["aacb1e60.772ee"]]},{"id":"d3c95f51.54beb","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"FecMode","tooltip":"","place":"Select option","group":"881c0f84.21fa5","order":34,"width":8,"height":1,"passthru":false,"multiple":false,"options":[{"label":"fixed","value":"fixed","type":"str"},{"label":"variable","value":"variable","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1440,"y":820,"wires":[["f5f8f1ba.cb77f"]]},{"id":"16df5e90.8c3ea1","type":"function","z":"f685ac4f.52a3c","name":"Global: mute","func":"let mute =msg.payload\nglobal.set(\"mute\", mute)\nmsg.mute_kleur=\"green\"\nif (mute === 0){\n    msg.mute_kleur=\"red\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1280,"wires":[["2ffa9537.0c85ba"]]},{"id":"12c9789.74bd187","type":"status","z":"f685ac4f.52a3c","name":"","scope":["9c49b30a.ff606"],"x":1400,"y":140,"wires":[["3205144c.bba84c"]]},{"id":"3205144c.bba84c","type":"function","z":"f685ac4f.52a3c","name":"Pluto connection status","func":"let status=msg.status.text;\nlet fill = msg.status.fill;\nlet human_status;\nif (status == \"node-red:common.status.connecting\") {\n    human_status = \"Connecting\"\n}\nif (status == \"node-red:common.status.connected\") {\n    human_status = \"Connected\"\n}\nif (status == \"node-red:common.status.disconnected\") {\n    human_status = \"Disconnected\"\n}\nif (fill == \"yellow\") {\n    msg.achtergrond_kleur = \"black\"\n}\nif (fill == \"green\") {\n    msg.achtergrond_kleur = \"white\"\n}\nif (fill == \"red\") {\n    msg.achtergrond_kleur = \"white\"\n}\nmsg.human_status=human_status;\nmsg.kleur = fill;\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":140,"wires":[["160c4c4b.359fd4"]]},{"id":"160c4c4b.359fd4","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"b6dcd51c.bdabb8","order":2,"width":3,"height":1,"passthru":false,"label":"{{human_status}}","tooltip":"","color":"{{achtergrond_kleur}}","bgcolor":"{{kleur}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1790,"y":140,"wires":[[]]},{"id":"a2e8c30e.20295","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"881c0f84.21fa5","order":6,"width":4,"height":1,"passthru":false,"label":"Stop","tooltip":"Stop transmission","color":"","bgcolor":"{{stop_button_color}}","className":"","icon":"{{animo}}","payload":"1","payloadType":"num","topic":"payload","topicType":"msg","x":1630,"y":1320,"wires":[["70ab80df.c5528"]]},{"id":"2ffa9537.0c85ba","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"881c0f84.21fa5","order":5,"width":4,"height":1,"passthru":false,"label":"Start","tooltip":"Start transmission","color":"","bgcolor":"{{start_button_color}}","className":"","icon":"{{start_animation}}","payload":"0","payloadType":"num","topic":"payload","topicType":"msg","x":1630,"y":1280,"wires":[["30cbe57c.831f9a","6fa45500.01e1ec"]]},{"id":"30cbe57c.831f9a","type":"change","z":"f685ac4f.52a3c","name":"Tx start color changer: Green","rules":[{"t":"set","p":"start_button_color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"start_animation","pt":"msg","to":"fa-spinner fa-spin fa-2x","tot":"str"},{"t":"set","p":"stop_button_color","pt":"msg","to":"Darkred","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":1220,"wires":[["2ffa9537.0c85ba","a2e8c30e.20295"]]},{"id":"70ab80df.c5528","type":"change","z":"f685ac4f.52a3c","name":"Tx stop color changer: Red","rules":[{"t":"set","p":"start_animation","pt":"msg","to":"fa-hand-paper-o fa-2x","tot":"str"},{"t":"set","p":"start_button_color","pt":"msg","to":"","tot":"str"},{"t":"set","p":"stop_button_color","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":1400,"wires":[["2ffa9537.0c85ba","a2e8c30e.20295","19ab02c2.29770d"]]},{"id":"fa549d74.6f5d5","type":"ui_text","z":"f685ac4f.52a3c","group":"b6dcd51c.bdabb8","order":1,"width":3,"height":1,"name":"","label":"Pluto","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1390,"y":200,"wires":[]},{"id":"9940d627.e5dcb8","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1400,"wires":[["895c49d5.070a08","88cccf26.3df4c","6da668fd.7e66e8"]]},{"id":"895c49d5.070a08","type":"ui_text","z":"f685ac4f.52a3c","group":"552095e.ac6816c","order":3,"width":3,"height":1,"name":"","label":"Queue","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"1","color":"#000000","x":690,"y":1400,"wires":[]},{"id":"6fa45500.01e1ec","type":"function","z":"f685ac4f.52a3c","name":"Send: Mute OFF","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/mute`;\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":1280,"wires":[["a72c13c6.4942","c16787ed.4d6288"]]},{"id":"d5e07d8.3f7528","type":"function","z":"f685ac4f.52a3c","name":"Send: Mute ON","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/mute`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":2180,"y":1380,"wires":[["a72c13c6.4942","d27298e7.6a2b58"]]},{"id":"a2241d82.1adb8","type":"ui_text_input","z":"f685ac4f.52a3c","name":"","label":"Call name","tooltip":"","group":"b6dcd51c.bdabb8","order":3,"width":2,"height":1,"passthru":true,"mode":"text","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":420,"y":60,"wires":[["d46cae9.323f65"]]},{"id":"db7d28e8.334d28","type":"debug","z":"f685ac4f.52a3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":60,"wires":[]},{"id":"d46cae9.323f65","type":"function","z":"f685ac4f.52a3c","name":"","func":"let callsign = msg.payload\nglobal.set(\"call\", callsign);\nglobal.set(\"cmdPath\", `cmd/pluto/${callsign}`)\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":60,"wires":[["db7d28e8.334d28","3b27f1da.fdc98e"]]},{"id":"3b27f1da.fdc98e","type":"file","z":"f685ac4f.52a3c","name":"","filename":"./mycall","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":760,"y":100,"wires":[[]]},{"id":"49992700.a674b8","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"./mycall","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":220,"y":60,"wires":[["a2241d82.1adb8"]]},{"id":"29842eb7.4bfd82","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":60,"wires":[["49992700.a674b8"]]},{"id":"145368e9.884dd7","type":"function","z":"f685ac4f.52a3c","name":"Mute","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/mute\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":350,"y":1280,"wires":[["7f2af4d2.e1a8ac"]]},{"id":"dce609c2.85bcd8","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":1160,"wires":[["145368e9.884dd7","f47e5479.a22418","8c97dd1a.96586","108c66d4.b66159","a2591641.8baa58","e529ffb.1a847","3825c929.240756","20ef302e.100c6","cd5a7aac.3efd88","f47f5db1.ffc2d","85879ad5.c35a38","2094acb9.0a0664","288b1356.594f6c","606698dd.ecbd88","6cfe7a38.4e76f4","7436bdaf.20b034","6939150f.949c8c","7f52c729.10d288"]]},{"id":"f47e5479.a22418","type":"function","z":"f685ac4f.52a3c","name":"Mode","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/stream/mode\"\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":1200,"wires":[["e9d088a6.eaf278"]]},{"id":"f5f8f1ba.cb77f","type":"function","z":"f685ac4f.52a3c","name":"Send: FecMode","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/fecmode`;\nglobal.set(\"bitrateChanged\", true);\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;\n","outputs":1,"noerr":0,"x":1620,"y":820,"wires":[["a72c13c6.4942"]]},{"id":"8c97dd1a.96586","type":"function","z":"f685ac4f.52a3c","name":"FecMode","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/fecmode\"\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":880,"wires":[["82c7a66f.5ac048"]]},{"id":"108c66d4.b66159","type":"function","z":"f685ac4f.52a3c","name":"Gain","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/gain\"\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":960,"wires":[["34a8a9dc.0f8926"]]},{"id":"76ed47d6.7676d8","type":"function","z":"f685ac4f.52a3c","name":"Send: Gain","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/gain`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1810,"y":960,"wires":[["a72c13c6.4942","6a63b644.d94c08"]]},{"id":"14a6b4e6.7aa6db","type":"function","z":"f685ac4f.52a3c","name":"Send: Fec","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/fec`;\nglobal.set(\"bitratechange\", true);\nmsg.topic = topic\nmsg.payload = payload\nglobal.set(\"stop\", true);\nreturn msg;\n","outputs":1,"noerr":0,"x":1670,"y":760,"wires":[["a72c13c6.4942"]]},{"id":"5cb4c47e.a1580c","type":"function","z":"f685ac4f.52a3c","name":"Send: SampleRate","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/sr`;\nglobal.set(\"bitratechange\", true);\nmsg.topic = topic;\nmsg.payload = payload;\nglobal.set(\"stop\", true);\nreturn msg;\n","outputs":1,"noerr":0,"x":1650,"y":1120,"wires":[["a72c13c6.4942"]]},{"id":"d3d1cd37.b3619","type":"function","z":"f685ac4f.52a3c","name":"Send: Frequency","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/frequency`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1730,"y":1020,"wires":[["a72c13c6.4942","a72b5be8.338048"]]},{"id":"511f9bbd.a48b44","type":"function","z":"f685ac4f.52a3c","name":"Send: Stream Mode","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/stream/mode`;\nglobal.set(\"bitratechange\", true);\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1660,"y":1180,"wires":[["a72c13c6.4942","43d5c412.c0fcec"]]},{"id":"a2591641.8baa58","type":"function","z":"f685ac4f.52a3c","name":"Fec","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/fec\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":800,"wires":[["f99a80b8.fa2ff"]]},{"id":"e529ffb.1a847","type":"function","z":"f685ac4f.52a3c","name":"Frequency","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/frequency\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1040,"wires":[["a9de0706.3f2cc8"]]},{"id":"3825c929.240756","type":"function","z":"f685ac4f.52a3c","name":"Samplerate","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/sr\"\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":1120,"wires":[["4c33bfc8.82739"]]},{"id":"20ef302e.100c6","type":"function","z":"f685ac4f.52a3c","name":"Queu","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/queue\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":350,"y":1400,"wires":[["9940d627.e5dcb8"]]},{"id":"45fe23a.25cebdc","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"Constellation","tooltip":"","place":"Select option","group":"44fd92d9.5ab13c","order":14,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"qpsk","value":"qpsk","type":"str"},{"label":"8psk","value":"8psk","type":"str"},{"label":"16apsk","value":"16apsk","type":"str"},{"label":"32apsk","value":"32apsk","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1450,"y":1440,"wires":[["8a41dbb0.0d7918"]]},{"id":"8a41dbb0.0d7918","type":"function","z":"f685ac4f.52a3c","name":"Send: Constellation","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/constel`;\nglobal.set(\"bitratechange\", true);\nmsg.topic = topic;\nmsg.payload = payload;\nglobal.set(\"stop\", true);\nreturn msg;\n","outputs":1,"noerr":0,"x":1710,"y":1440,"wires":[["a72c13c6.4942","c9439dba.add12"]]},{"id":"111dc0aa.cba6ff","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1480,"wires":[["1d5654b8.e84b4b"]]},{"id":"cd5a7aac.3efd88","type":"function","z":"f685ac4f.52a3c","name":"Constellation","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/constel\"\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":1480,"wires":[["111dc0aa.cba6ff"]]},{"id":"e1df107b.4fa9c","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1560,"wires":[["ec847334.3f049"]]},{"id":"f47f5db1.ffc2d","type":"function","z":"f685ac4f.52a3c","name":"frame","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/frame\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":350,"y":1560,"wires":[["e1df107b.4fa9c"]]},{"id":"1b5cc01e.ddb1b","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1640,"wires":[["17d5201c.ce832"]]},{"id":"85879ad5.c35a38","type":"function","z":"f685ac4f.52a3c","name":"Pilots","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/pilots\"\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":1640,"wires":[["1b5cc01e.ddb1b"]]},{"id":"90c8301c.9583","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"Frame","tooltip":"","place":"Select option","group":"881c0f84.21fa5","order":44,"width":8,"height":1,"passthru":false,"multiple":false,"options":[{"label":"short","value":"short","type":"str"},{"label":"long","value":"long","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1430,"y":1520,"wires":[["db56619c.582d4"]]},{"id":"db56619c.582d4","type":"function","z":"f685ac4f.52a3c","name":"Send: Frame","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/frame`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1650,"y":1520,"wires":[["a72c13c6.4942"]]},{"id":"768c027a.ae5ffc","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"Pilots","tooltip":"","place":"Select option","group":"881c0f84.21fa5","order":37,"width":8,"height":1,"passthru":false,"multiple":false,"options":[{"label":"off","value":"0","type":"str"},{"label":"on","value":"1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1430,"y":1600,"wires":[["3e434727.f4a118"]]},{"id":"3e434727.f4a118","type":"function","z":"f685ac4f.52a3c","name":"Send: Pilots","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/pilots`;\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;\n","outputs":1,"noerr":0,"x":1630,"y":1600,"wires":[["a72c13c6.4942"]]},{"id":"1fce40ae.e274ef","type":"function","z":"f685ac4f.52a3c","name":"Set default TX gain","func":"msg.payload= \"-25\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":930,"y":480,"wires":[["76ed47d6.7676d8"]]},{"id":"530f1ee5.b1043","type":"function","z":"f685ac4f.52a3c","name":"Send: Reboot","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/system/reboot`;\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;\n","outputs":1,"noerr":0,"x":1620,"y":700,"wires":[["a72c13c6.4942"]]},{"id":"4920bc0c.7a67a4","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"552095e.ac6816c","order":6,"width":3,"height":1,"passthru":false,"label":"Reboot Pluto","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"payload","topicType":"msg","x":1450,"y":700,"wires":[["530f1ee5.b1043"]]},{"id":"88cccf26.3df4c","type":"ui_chart","z":"f685ac4f.52a3c","name":"","group":"b25f7c03.f1938","order":1,"width":"32","height":"5","label":"Queue","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":690,"y":1440,"wires":[[]]},{"id":"f44d106b.4dba1","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1720,"wires":[["bfa9c28a.322e5"]]},{"id":"2094acb9.0a0664","type":"function","z":"f685ac4f.52a3c","name":"Gain Variable","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/gainvariable\"\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":1720,"wires":[["f44d106b.4dba1"]]},{"id":"bd4da0d3.6b9f2","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"Variable_gain","tooltip":"","place":"Select option","group":"881c0f84.21fa5","order":42,"width":8,"height":1,"passthru":false,"multiple":false,"options":[{"label":"on","value":1,"type":"num"},{"label":"off","value":0,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1460,"y":1680,"wires":[["2d7b6762.16d028"]]},{"id":"2d7b6762.16d028","type":"function","z":"f685ac4f.52a3c","name":"Send: Gain variable","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/gainvariable`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1710,"y":1680,"wires":[["a72c13c6.4942"]]},{"id":"af30d87e.5d7ed8","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1800,"wires":[["a16fae12.84c17"]]},{"id":"288b1356.594f6c","type":"function","z":"f685ac4f.52a3c","name":"TS Source Mode","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/tssourcemode\"\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":1800,"wires":[["af30d87e.5d7ed8"]]},{"id":"dee2f15.9d61a1","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"TS Source mode","tooltip":"","place":"Select option","group":"881c0f84.21fa5","order":47,"width":8,"height":1,"passthru":false,"multiple":false,"options":[{"label":"TS IP","value":"0","type":"str"},{"label":"Pattern","value":2,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1470,"y":1760,"wires":[["e29d1d90.0dc9d"]]},{"id":"e29d1d90.0dc9d","type":"function","z":"f685ac4f.52a3c","name":"Send: TsSourceMode","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/tssourcemode`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1720,"y":1760,"wires":[["a72c13c6.4942"]]},{"id":"ba8434ac.345f28","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"ZS1SCI","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":100,"wires":[["315b00d3.52b0a"]]},{"id":"315b00d3.52b0a","type":"mqtt out","z":"f685ac4f.52a3c","name":"","topic":"cmd/pluto/call","qos":"","retain":"","broker":"a0ae5e4b.75b43","x":440,"y":120,"wires":[]},{"id":"29ad4345.bab86c","type":"mqtt out","z":"f685ac4f.52a3c","name":"","topic":"","qos":"","retain":"","broker":"a0ae5e4b.75b43","x":2690,"y":1860,"wires":[]},{"id":"bfdb294e.9af228","type":"function","z":"f685ac4f.52a3c","name":"Pass to Pluto","func":"let run = msg.payload\nlet topic = \"cmd/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/tssourceaddress\"\nmsg.topic = topic\nmsg.payload = run\nreturn msg;\n","outputs":1,"noerr":0,"x":2490,"y":1860,"wires":[["29ad4345.bab86c"]]},{"id":"7d2917d7.414478","type":"ui_text_input","z":"f685ac4f.52a3c","name":"","label":"TSInput","tooltip":"","group":"b6dcd51c.bdabb8","order":4,"width":4,"height":1,"passthru":true,"mode":"text","delay":"500","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":2160,"y":1720,"wires":[["3063fbd.37a1d04","ce7d3828.c4e358","bfdb294e.9af228"]]},{"id":"a03212c5.e0686","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"./tssourceaddress","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2310,"y":1640,"wires":[["7d2917d7.414478"]]},{"id":"3063fbd.37a1d04","type":"file","z":"f685ac4f.52a3c","name":"","filename":"./tssourceaddress","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":2710,"y":1780,"wires":[[]]},{"id":"d932daf4.341948","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2130,"y":1640,"wires":[["a03212c5.e0686"]]},{"id":"ce7d3828.c4e358","type":"function","z":"f685ac4f.52a3c","name":"global TSsourceaddress","func":"var payload = msg.payload;\nif (payload !== global.get(\"tssourceaddress\")){\n    global.set(\"tssourceaddress\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2690,"y":1700,"wires":[[]]},{"id":"2f68a2c.6fd035e","type":"ui_dropdown","z":"f685ac4f.52a3c","name":"","label":"FEC Range","tooltip":"","place":"Select option","group":"881c0f84.21fa5","order":39,"width":8,"height":1,"passthru":false,"multiple":false,"options":[{"label":"1","value":1,"type":"num"},{"label":"2","value":2,"type":"num"},{"label":"3","value":3,"type":"num"},{"label":"4","value":4,"type":"num"},{"label":"5","value":5,"type":"num"},{"label":"6","value":"6","type":"str"},{"label":"7","value":7,"type":"num"},{"label":"8","value":8,"type":"num"},{"label":"9","value":9,"type":"num"},{"label":"10","value":10,"type":"num"},{"label":"11","value":11,"type":"num"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":1450,"y":1840,"wires":[["c368782.6e70f88"]]},{"id":"c368782.6e70f88","type":"function","z":"f685ac4f.52a3c","name":"Send: FEC Range variable","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/fecrange`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":1840,"wires":[["a72c13c6.4942"]]},{"id":"606698dd.ecbd88","type":"function","z":"f685ac4f.52a3c","name":"FEC Range","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/fecrange\"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1880,"wires":[["390b60ab.7d882"]]},{"id":"390b60ab.7d882","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1880,"wires":[["4d68d6a8.100208"]]},{"id":"376ed0dc.ce995","type":"ui_slider","z":"f685ac4f.52a3c","name":"","label":"Set Frequency cont.","tooltip":"","group":"881c0f84.21fa5","order":10,"width":11,"height":1,"passthru":false,"outs":"all","topic":"topic","topicType":"msg","min":"2403250000","max":"2409750000","step":"1000","className":"","x":1480,"y":1000,"wires":[["d3d1cd37.b3619"]]},{"id":"7b8072ec.500acc","type":"ui_slider","z":"f685ac4f.52a3c","name":"","label":"","tooltip":"","group":"881c0f84.21fa5","order":14,"width":8,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"str","min":"-50000","max":"50000","step":"250","className":"","x":1890,"y":260,"wires":[["48e9fcd7.919d84"]]},{"id":"5804dc2a.7cac04","type":"file","z":"f685ac4f.52a3c","name":"","filename":"./nco","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":2050,"y":340,"wires":[[]]},{"id":"48e9fcd7.919d84","type":"function","z":"f685ac4f.52a3c","name":"NCO","func":"let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/nco`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":360,"wires":[["5804dc2a.7cac04","a72c13c6.4942"]]},{"id":"3fc02a5f.1a4556","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"./nco","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1670,"y":200,"wires":[["7b8072ec.500acc"]]},{"id":"a97fedbd.02816","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":720,"wires":[["1c69fdda.32cad2"]]},{"id":"de5c1691.e8d7e8","type":"ui_text","z":"f685ac4f.52a3c","group":"881c0f84.21fa5","order":13,"width":3,"height":1,"name":"NCO (Hz)","label":"NCO","format":"{{msg.payload}} Hz","layout":"row-spread","className":"","style":false,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"17","color":"#ffffff","x":740,"y":760,"wires":[]},{"id":"6cfe7a38.4e76f4","type":"function","z":"f685ac4f.52a3c","name":"NCO","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/nco\"\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":720,"wires":[["a97fedbd.02816"]]},{"id":"31d7e107.b9d1ee","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"881c0f84.21fa5","order":15,"width":2,"height":1,"passthru":false,"label":"Reset NCO","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":1870,"y":200,"wires":[["7b8072ec.500acc"]]},{"id":"8d4c0da1.3e24","type":"ui_slider","z":"f685ac4f.52a3c","name":"TX Digital Gain","label":"","tooltip":"","group":"881c0f84.21fa5","order":21,"width":10,"height":1,"passthru":false,"outs":"end","topic":"payload","topicType":"msg","min":"-20","max":"3","step":"0.01","className":"","x":1460,"y":640,"wires":[["6656adb6.33e844"]]},{"id":"6656adb6.33e844","type":"function","z":"f685ac4f.52a3c","name":"Send: Digital Gain when not is pass mode...","func":"let payload = msg.payload;\n// We cannot send digital gain in pass mode...\nif(global.get(\"mode\") === \"pass\") return;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/digitalgain`\nmsg.topic = topic\nmsg.payload = payload;\nreturn msg;\n","outputs":1,"noerr":0,"x":1930,"y":560,"wires":[["1c5963e8.9d812c","a72c13c6.4942"]]},{"id":"7f52c729.10d288","type":"function","z":"f685ac4f.52a3c","name":"Digital Gain","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/digitalgain\"\nreturn msg;\n","outputs":1,"noerr":0,"x":130,"y":640,"wires":[["9c49b30a.ff606"]]},{"id":"9c49b30a.ff606","type":"mqtt in","z":"f685ac4f.52a3c","name":"mqtt dg","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":270,"y":640,"wires":[["d53fd66c.7467e8","4d265bf7.bc9fd4"]]},{"id":"d53fd66c.7467e8","type":"ui_text","z":"f685ac4f.52a3c","group":"881c0f84.21fa5","order":20,"width":3,"height":1,"name":"","label":"Digital","format":"{{msg.payload}} dB","layout":"row-spread","className":"","style":false,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"17","color":"#ffffff","x":690,"y":680,"wires":[]},{"id":"bb1f87e5.186c88","type":"function","z":"f685ac4f.52a3c","name":"Set default Digital TX gain","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":440,"wires":[["6656adb6.33e844"]]},{"id":"72d62e3a.79bae","type":"ui_button","z":"f685ac4f.52a3c","name":"+dBm","group":"881c0f84.21fa5","order":29,"width":2,"height":1,"passthru":false,"label":"+","tooltip":"+0.25dB","color":"","bgcolor":"","className":"","icon":"","payload":"gain","payloadType":"global","topic":"topic","topicType":"msg","x":1430,"y":880,"wires":[["570a8ce3.3ff314"]]},{"id":"5497cf3b.676c6","type":"ui_button","z":"f685ac4f.52a3c","name":"-dBm","group":"881c0f84.21fa5","order":28,"width":2,"height":1,"passthru":false,"label":"-","tooltip":"-0.25dB","color":"","bgcolor":"","className":"","icon":"","payload":"gain","payloadType":"global","topic":"topic","topicType":"msg","x":1430,"y":920,"wires":[["c0deaf86.c6fc5"]]},{"id":"570a8ce3.3ff314","type":"function","z":"f685ac4f.52a3c","name":"Increase Gain","func":"let currentGain = msg.payload;\nlet uppedGain = parseFloat(currentGain) + 0.25;\nmsg.payload = uppedGain.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":880,"wires":[["76ed47d6.7676d8"]]},{"id":"c0deaf86.c6fc5","type":"function","z":"f685ac4f.52a3c","name":"Decrease Gain","func":"let currentGain = msg.payload;\nlet downedGain = parseFloat(currentGain) - 0.25;\nmsg.payload = downedGain;\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":920,"wires":[["6369a9d0.d32b78","76ed47d6.7676d8"]]},{"id":"5a05019c.48cd4","type":"function","z":"f685ac4f.52a3c","name":"Global: gain","func":"var payload = parseFloat(msg.payload).toFixed(2);\nif (payload !== global.get(\"device.GAIN\")){\n    global.set(\"gain\", payload);\n    global.set(\"device.GAIN\", payload);\n    global.set(\"settings.GAIN\", payload);\n    msg.payload = payload;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":960,"wires":[["6369a9d0.d32b78","fcbe8771.88edd8"]]},{"id":"aacb1e60.772ee","type":"function","z":"f685ac4f.52a3c","name":"Global: fecmode","func":"var payload = msg.payload;\nif (payload !== global.get(\"fecmode\")){\n    global.set(\"fecmode\", payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":880,"wires":[["d3c95f51.54beb"]]},{"id":"1c69fdda.32cad2","type":"function","z":"f685ac4f.52a3c","name":"Global: nco","func":"var payload = msg.payload;\nif (payload !== global.get(\"nco\")){\n    global.set(\"nco\", payload );\n    msg.payload = payload;\n    return msg;\n}","outputs":1,"noerr":0,"x":710,"y":720,"wires":[["de5c1691.e8d7e8"]]},{"id":"4d265bf7.bc9fd4","type":"function","z":"f685ac4f.52a3c","name":"Global: digitalgain","func":"var payload = msg.payload;\nif (payload !== global.get(\"digitalgain\")){\n    global.set(\"digitalgain\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":450,"y":640,"wires":[["8d4c0da1.3e24"]]},{"id":"41e81a22.0d4154","type":"function","z":"f685ac4f.52a3c","name":"Global: fec","func":"var payload = msg.payload;\nif (payload !== global.get(\"fec\")){\n    global.set(\"fec\", payload);\n    global.set(\"device.FEC\", payload);\n    global.set(\"settings.FEC\", payload);\n    global.set(\"bitratechange\", true);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":800,"wires":[["4604331c.deeecc"]]},{"id":"8c611b01.d25828","type":"function","z":"f685ac4f.52a3c","name":"Global: frequency","func":"var payload = msg.payload;\nif (payload !== global.get(\"frequency\")) {\n    global.set(\"frequency\", payload);\n    global.set(\"device.frequency\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":730,"y":1040,"wires":[["376ed0dc.ce995","baa651e8.f6449"]]},{"id":"64e47d53.7550a4","type":"function","z":"f685ac4f.52a3c","name":"Global: sr","func":"var payload = msg.payload;\nif (payload !== global.get(\"sr\")){\n    global.set(\"sr\", payload);\n    global.set(\"device.SR\", payload);\n    global.set(\"settings.SR\", payload/1000);\n    global.set(\"bitratechange\", true);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":700,"y":1120,"wires":[["8c06841b.a2eaf8"]]},{"id":"25b0d99b.45e646","type":"function","z":"f685ac4f.52a3c","name":"Global: mode","func":"var payload = msg.payload;\nif (payload !== global.get(\"mode\")){\n    global.set(\"mode\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":1200,"wires":[["26bdafff.bdb8c"]]},{"id":"1d5654b8.e84b4b","type":"function","z":"f685ac4f.52a3c","name":"Global: constel","func":"var payload = msg.payload;\nif (payload !== global.get(\"device.Constel\")){\n    global.set(\"device.Constel\", payload);\n    global.set(\"settings.MODE\", payload);\n    global.set(\"bitratechange\", true);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":720,"y":1480,"wires":[["45fe23a.25cebdc"]]},{"id":"ec847334.3f049","type":"function","z":"f685ac4f.52a3c","name":"Global: frame","func":"var payload = msg.payload;\nif (payload !== global.get(\"frame\")){\n    global.set(\"frame\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":720,"y":1560,"wires":[["90c8301c.9583"]]},{"id":"17d5201c.ce832","type":"function","z":"f685ac4f.52a3c","name":"Global: pilots","func":"var payload = msg.payload;\nif (payload !== global.get(\"pilots\")){\n    global.set(\"pilots\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":710,"y":1640,"wires":[["768c027a.ae5ffc"]]},{"id":"bfa9c28a.322e5","type":"function","z":"f685ac4f.52a3c","name":"Global: gainvariable","func":"var payload = msg.payload;\nif (payload !== global.get(\"gainvariable\")){\n    global.set(\"gainvariable\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":740,"y":1720,"wires":[["bd4da0d3.6b9f2"]]},{"id":"a16fae12.84c17","type":"function","z":"f685ac4f.52a3c","name":"Global: tssourcemode","func":"var payload = msg.payload;\nif (payload !== global.get(\"tssourcemode\")){\n    global.set(\"tssourcemode\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":740,"y":1800,"wires":[["dee2f15.9d61a1"]]},{"id":"4d68d6a8.100208","type":"function","z":"f685ac4f.52a3c","name":"Global: fecrange","func":"var payload = msg.payload;\nif (payload !== global.get(\"fecrange\")){\n    global.set(\"fecrange\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":720,"y":1880,"wires":[["2f68a2c.6fd035e"]]},{"id":"935650ff.0f666","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat 125KS","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load 125KS","x":3230,"y":620,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"bd57d0c7.151b7","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat 250KS","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load 250KS","x":3230,"y":740,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"ab89cf0b.65266","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat 333KS","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load 333KS","x":3230,"y":800,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"7b1daedc.0c56f","type":"ui_button","z":"f685ac4f.52a3c","name":"250KS","group":"44fd92d9.5ab13c","order":48,"width":2,"height":1,"passthru":false,"label":"250KS","tooltip":"","color":"","bgcolor":"{{p5_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2630,"y":740,"wires":[["4f45f326.94e12c"]]},{"id":"52223f06.1a4ac","type":"ui_button","z":"f685ac4f.52a3c","name":"333KS","group":"44fd92d9.5ab13c","order":51,"width":2,"height":1,"passthru":false,"label":"333KS","tooltip":"","color":"","bgcolor":"{{p6_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2630,"y":800,"wires":[["6c0306e4.349388"]]},{"id":"aed49b10.276818","type":"ui_button","z":"f685ac4f.52a3c","name":"125KS","group":"44fd92d9.5ab13c","order":46,"width":2,"height":1,"passthru":false,"label":"125KS","tooltip":"","color":"","bgcolor":"{{p3_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2630,"y":620,"wires":[["5296b072.d084f"]]},{"id":"40d67779.0083c8","type":"exec","z":"f685ac4f.52a3c","d":true,"command":"taskkill /T /F /IM MQTT-Explorer-0.4.0-beta1.exe","addpay":"","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"kill MQTT Explorer","x":3250,"y":1140,"wires":[[],[],[]]},{"id":"4b323f4b.16161","type":"ui_button","z":"f685ac4f.52a3c","name":"Terminal Profile","group":"44fd92d9.5ab13c","order":39,"width":5,"height":1,"passthru":false,"label":"STOP {{msg.payload}}","tooltip":"Kill ffmpeg steaming process","color":"","bgcolor":"Darkred","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":2660,"y":1080,"wires":[["8f213e0c.b326c","70ab80df.c5528"]]},{"id":"c83f7787.ee3528","type":"exec","z":"f685ac4f.52a3c","d":true,"command":"taskkill /F /FI \"WINDOWTITLE eq CONTROL*\"","addpay":"","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"kill CONTROL","x":3240,"y":1080,"wires":[[],[],[]]},{"id":"50aae7a7.ff32c8","type":"exec","z":"f685ac4f.52a3c","command":"taskkill /T /F /IM ffmpeg.exe","addpay":"","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"kill ffmpeg","x":3220,"y":1020,"wires":[[],[],[]]},{"id":"5fed8b8f.90c254","type":"exec","z":"f685ac4f.52a3c","command":"taskkill /F /PID ","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill NodeRed PID","x":3250,"y":1200,"wires":[[],[],[]]},{"id":"500444bf.3659fc","type":"status","z":"f685ac4f.52a3c","name":"","scope":["935650ff.0f666","bd57d0c7.151b7","ab89cf0b.65266","bce77e79.f1337","4d45e2f2.8c4f0c","a64a272b.6ca2a8","70a4b4d7.309a9c","3ed24797.ce9408","521d268a.36f998"],"x":2120,"y":460,"wires":[["6618457c.96f65c"]]},{"id":"57e44cb0.c32474","type":"mqtt in","z":"f685ac4f.52a3c","name":"","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":550,"y":1980,"wires":[["f498d3e6.fd174","afd0125f.4ca8a"]]},{"id":"f498d3e6.fd174","type":"ui_text","z":"f685ac4f.52a3c","group":"b6dcd51c.bdabb8","order":5,"width":4,"height":1,"name":"","label":"TS","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":680,"y":2020,"wires":[]},{"id":"7436bdaf.20b034","type":"function","z":"f685ac4f.52a3c","name":"TS Address","func":"msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/tssourceaddress\"\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":1980,"wires":[["57e44cb0.c32474"]]},{"id":"afd0125f.4ca8a","type":"function","z":"f685ac4f.52a3c","name":"Global: tssourceaddress","func":"var payload = msg.payload;\nif (payload !== global.get(\"tssourceaddress\")){\n    global.set(\"tssourceaddress\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":750,"y":1980,"wires":[[]]},{"id":"6618457c.96f65c","type":"function","z":"f685ac4f.52a3c","name":"Update Active Profile Button","func":"let status = msg.status.text;\nlet fill = msg.status.fill;\nlet source = msg.status.source.name;\nmsg.p1_color = \"\";\nmsg.p2_color = \"\";\nmsg.p3_color = \"\";\nmsg.p4_color = \"\";\nmsg.p5_color = \"\";\nmsg.p6_color = \"\";\nmsg.p7_color = \"\";\nmsg.p8_color = \"\";\nmsg.p9_color = \"\";\nif (msg.status.text === \"error:1\" || msg.status.text === \"rc:1\") {\n    msg.command = \"stop\";\n    return msg;\n}\nmsg.p1_color = \"gray\";\nmsg.p2_color = \"gray\";\nmsg.p3_color = \"gray\";\nmsg.p4_color = \"gray\";\nmsg.p5_color = \"gray\";\nmsg.p6_color = \"gray\";\nmsg.p7_color = \"gray\";\nmsg.p8_color = \"gray\";\nmsg.p9_color = \"gray\";\nif (msg.status.text) {\n    let pid = msg.status.text.split(':');\n    msg.command = \"start\";\n    switch (source) {\n        case \"Load 33KS\":\n            msg.p1_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 66KS\":\n            msg.p2_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 125KS\":\n            msg.p3_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load last run\":\n            msg.p4_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 250KS\":\n            msg.p5_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 333KS\":\n            msg.p6_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 500KS\":\n            msg.p7_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 1000KS\":\n            msg.p8_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load custom\":\n            msg.p9_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n    }\n}","outputs":1,"noerr":0,"x":2280,"y":560,"wires":[["aed49b10.276818","7b1daedc.0c56f","52223f06.1a4ac","af3719ec.4141e8","3cdd024c.53b95e","622ed84c.dc2268","76e6065a.51cbd8","d7d11932.d590c8","93af338e.ca2b5","348d9e8d.8a8492"]]},{"id":"e628765f.da6288","type":"comment","z":"f685ac4f.52a3c","name":"Process kill commands would differ on Linux","info":"","x":2930,"y":1020,"wires":[]},{"id":"bce77e79.f1337","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat LastRun","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load last run","x":3230,"y":680,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"af3719ec.4141e8","type":"ui_button","z":"f685ac4f.52a3c","name":"Last Run","group":"44fd92d9.5ab13c","order":57,"width":2,"height":1,"passthru":false,"label":"Last Run","tooltip":"","color":"","bgcolor":"{{p4_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2640,"y":680,"wires":[["d9ce43f5.3780d"]]},{"id":"6da668fd.7e66e8","type":"function","z":"f685ac4f.52a3c","name":"Global: queue","func":"var payload = parseInt(msg.payload);\nif (payload !== global.get(\"queue\")) {\n    global.set(\"queue\", payload);\n}\nif (payload > 25) {\n    msg.fcolor = \"#d81706\";\n    msg.payload = \"overflow\";\n    return msg;\n}\nif (payload > 0) {\n    msg.fcolor = \"#0e7c1a\";\n    msg.payload = \"nominal\";\n    return msg;\n}\n\nmsg.payload = \"underflow\";\nmsg.fcolor = \"#ff9e07\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1360,"wires":[["e4a6364c.89a5d8"]]},{"id":"e4a6364c.89a5d8","type":"ui_text","z":"f685ac4f.52a3c","group":"552095e.ac6816c","order":2,"width":3,"height":1,"name":"","label":"Buffer","format":"<font size=3><font color={{fcolor}}>{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":910,"y":1360,"wires":[]},{"id":"8f213e0c.b326c","type":"function","z":"f685ac4f.52a3c","name":"get active ffmpeg process id","func":"let payload = msg.payload;\nif (payload === \"1\" && global.get(\"ProfileButtonsActive\")) {\n    msg.backgroundcolor = \"\";\n    let pid = global.get(\"pid\");\n    msg.payload = pid;\n    global.set(\"pid\", \"\");\n    global.set(\"ProfileButtonsActive\", false)\n    return msg;\n}","outputs":1,"noerr":0,"x":2940,"y":1140,"wires":[["5fed8b8f.90c254","4b323f4b.16161","50aae7a7.ff32c8","c83f7787.ee3528","40d67779.0083c8","d81019a6.33b788","491d0d33.1fa564"]]},{"id":"5296b072.d084f","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2950,"y":620,"wires":[["935650ff.0f666"]]},{"id":"4f45f326.94e12c","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2950,"y":740,"wires":[["bd57d0c7.151b7"]]},{"id":"6c0306e4.349388","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2950,"y":800,"wires":[["ab89cf0b.65266"]]},{"id":"d9ce43f5.3780d","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2950,"y":680,"wires":[["bce77e79.f1337"]]},{"id":"c2940aee.ef9648","type":"function","z":"f685ac4f.52a3c","name":"Get TSsourceaddress","func":"let newAddress = msg.payload;\nmsg.payload = newAddress;\nreturn msg;","outputs":1,"noerr":0,"x":2220,"y":1860,"wires":[[]]},{"id":"63cb96f1.bfd948","type":"comment","z":"f685ac4f.52a3c","name":"Set custom ffpmeg flags for libx265","info":" - **-x265-params b-adapt=1**\n - **-tune zerolatency**\n","x":2360,"y":40,"wires":[]},{"id":"25549308.f16aac","type":"comment","z":"f685ac4f.52a3c","name":"Ensures only one ffmepg process","info":"","x":2790,"y":460,"wires":[]},{"id":"3c41d6f6.819eba","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":1240,"wires":[["2ffa9537.0c85ba"]]},{"id":"3cdd024c.53b95e","type":"ui_button","z":"f685ac4f.52a3c","name":"500KS","group":"44fd92d9.5ab13c","order":53,"width":2,"height":1,"passthru":false,"label":"500KS","tooltip":"","color":"","bgcolor":"{{p7_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2630,"y":860,"wires":[["9743014.c855a"]]},{"id":"9743014.c855a","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2950,"y":860,"wires":[["4d45e2f2.8c4f0c"]]},{"id":"4d45e2f2.8c4f0c","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat 500KS","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load 500KS","x":3230,"y":860,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"622ed84c.dc2268","type":"ui_button","z":"f685ac4f.52a3c","name":"1000KS","group":"44fd92d9.5ab13c","order":55,"width":2,"height":1,"passthru":false,"label":"1000KS","tooltip":"","color":"","bgcolor":"{{p8_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2640,"y":920,"wires":[["51ed90fd.bb8e4"]]},{"id":"51ed90fd.bb8e4","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2950,"y":920,"wires":[["a64a272b.6ca2a8"]]},{"id":"a64a272b.6ca2a8","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat 1000KS","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load 1000KS","x":3240,"y":920,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"df408851.ef4868","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":1230,"y":1340,"wires":[["a2e8c30e.20295"]]},{"id":"19ab02c2.29770d","type":"function","z":"f685ac4f.52a3c","name":"Only send if we are unmuted","func":"if (parseInt(msg.payload) !== parseInt(global.get(\"mute\"))) {\n    return msg;\n}","outputs":1,"noerr":0,"x":1940,"y":1380,"wires":[["d5e07d8.3f7528"]]},{"id":"c354e40b.bac6e8","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"881c0f84.21fa5","order":50,"width":3,"height":1,"passthru":false,"label":"Open VLC 8888","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2660,"y":980,"wires":[["8dd36aae.cbeee8"]]},{"id":"8dd36aae.cbeee8","type":"exec","z":"f685ac4f.52a3c","command":"vlc_udp.xspf","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"VLC","x":3370,"y":980,"wires":[[],[],[]]},{"id":"d7d11932.d590c8","type":"ui_button","z":"f685ac4f.52a3c","name":"66KS","group":"44fd92d9.5ab13c","order":44,"width":2,"height":1,"passthru":false,"label":"66KS","tooltip":"","color":"","bgcolor":"{{p2_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2630,"y":560,"wires":[["9e041c7e.c8a3"]]},{"id":"76e6065a.51cbd8","type":"ui_button","z":"f685ac4f.52a3c","name":"33KS","group":"44fd92d9.5ab13c","order":42,"width":2,"height":1,"passthru":false,"label":"33KS","tooltip":"","color":"","bgcolor":"{{p1_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2630,"y":500,"wires":[["85f03ada.9eb918"]]},{"id":"9e041c7e.c8a3","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2950,"y":560,"wires":[["3ed24797.ce9408"]]},{"id":"85f03ada.9eb918","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2950,"y":500,"wires":[["70a4b4d7.309a9c"]]},{"id":"70a4b4d7.309a9c","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat 33KS","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load 33KS","x":3230,"y":500,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"3ed24797.ce9408","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat 66KS","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load 66KS","x":3230,"y":560,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"e1c9ad5f.9d28a","type":"function","z":"f685ac4f.52a3c","name":"Global: temp","func":"var payload = parseFloat(msg.payload)/1000;\nif (payload !== global.get(\"temp\") && payload > 0){\n    global.set(\"temp\", payload);\n    msg.payload = payload;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["45e90c6.cec7bf4"]]},{"id":"f8e25a2.1bb38a8","type":"mqtt in","z":"f685ac4f.52a3c","name":"mqtt temp","topic":"","qos":"2","datatype":"utf8","broker":"a0ae5e4b.75b43","x":280,"y":600,"wires":[["e1c9ad5f.9d28a"]]},{"id":"6939150f.949c8c","type":"function","z":"f685ac4f.52a3c","name":"Temperature","func":"msg.action = \"subscribe\"\nmsg.topic = \"dt/pluto/\" + global.get(\"call\") + \"/temperature_ad\"\nreturn msg;\n","outputs":1,"noerr":0,"x":130,"y":600,"wires":[["f8e25a2.1bb38a8"]]},{"id":"45e90c6.cec7bf4","type":"ui_text","z":"f685ac4f.52a3c","group":"552095e.ac6816c","order":1,"width":3,"height":1,"name":"Pluto Temp","label":"Tuner","format":"{{msg.payload}}C","layout":"row-spread","className":"","style":false,"font":"Verdana,Verdana,Geneva,sans-serif","fontSize":"17","color":"#ffffff","x":630,"y":600,"wires":[]},{"id":"1c6886e3.0202a9","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"./frequency","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1670,"y":400,"wires":[["d3d1cd37.b3619"]]},{"id":"48aea2a1.e8c28c","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"552095e.ac6816c","order":5,"width":3,"height":1,"passthru":false,"label":"RESTORE STATE","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1430,"y":300,"wires":[["1c6886e3.0202a9","dd179ecc.eedf4","8f131e1a.8f4ac","8c820033.17656","447ee717.0e0a28","3fc02a5f.1a4556"]]},{"id":"a72b5be8.338048","type":"file","z":"f685ac4f.52a3c","name":"","filename":"./frequency","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1770,"y":1080,"wires":[[]]},{"id":"1c5963e8.9d812c","type":"file","z":"f685ac4f.52a3c","name":"","filename":"./digitalgain","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1950,"y":480,"wires":[[]]},{"id":"dd179ecc.eedf4","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"./gain","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1650,"y":320,"wires":[["76ed47d6.7676d8"]]},{"id":"83759684.f2a0d8","type":"ui_button","z":"f685ac4f.52a3c","name":"+dBm","group":"881c0f84.21fa5","order":23,"width":2,"height":1,"passthru":false,"label":"+","tooltip":"+1dB","color":"","bgcolor":"","className":"","icon":"","payload":"digitalgain","payloadType":"global","topic":"topic","topicType":"msg","x":1430,"y":560,"wires":[["cfb25bbe.2fb9e8"]]},{"id":"92387399.22711","type":"ui_button","z":"f685ac4f.52a3c","name":"-dBm","group":"881c0f84.21fa5","order":22,"width":2,"height":1,"passthru":false,"label":"-","tooltip":"-1dB","color":"","bgcolor":"","className":"","icon":"","payload":"digitalgain","payloadType":"global","topic":"topic","topicType":"msg","x":1430,"y":600,"wires":[["e87fc7c0.066858"]]},{"id":"cfb25bbe.2fb9e8","type":"function","z":"f685ac4f.52a3c","name":"Increase Gain","func":"let currentGain = msg.payload;\nlet uppedGain = parseFloat(currentGain) + 1;\nmsg.payload = uppedGain.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":560,"wires":[["6656adb6.33e844"]]},{"id":"e87fc7c0.066858","type":"function","z":"f685ac4f.52a3c","name":"Decrease Gain","func":"let currentGain = msg.payload;\nlet downedGain = parseFloat(currentGain) - 1;\nmsg.payload = downedGain;\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":600,"wires":[["6656adb6.33e844"]]},{"id":"6a63b644.d94c08","type":"file","z":"f685ac4f.52a3c","name":"","filename":"./gain","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1830,"y":900,"wires":[[]]},{"id":"8f131e1a.8f4ac","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"./tssourceaddress","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1690,"y":280,"wires":[["bfdb294e.9af228"]]},{"id":"5386316e.9a512","type":"inject","z":"f685ac4f.52a3c","d":true,"name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2150,"y":80,"wires":[[]]},{"id":"c6558835.bb3ca8","type":"function","z":"f685ac4f.52a3c","d":true,"name":"Set low latency mode","func":"var payload = msg.payload;\nif (payload !== global.get(\"lowLatency\")){\n    global.set(\"lowLatency\", payload);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2340,"y":80,"wires":[[]]},{"id":"8c820033.17656","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"./tsmode","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1660,"y":440,"wires":[["511f9bbd.a48b44"]]},{"id":"43d5c412.c0fcec","type":"file","z":"f685ac4f.52a3c","name":"","filename":"./tsmode","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1880,"y":1220,"wires":[[]]},{"id":"447ee717.0e0a28","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"./digitalgain","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1670,"y":360,"wires":[["6656adb6.33e844"]]},{"id":"e59261c4.8cefa","type":"comment","z":"f685ac4f.52a3c","name":"tsmode must be set, or else digital mode setting reboots pluto","info":"","x":1560,"y":240,"wires":[]},{"id":"d27298e7.6a2b58","type":"change","z":"f685ac4f.52a3c","name":"set flow mute on","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2320,"y":1320,"wires":[[]]},{"id":"c16787ed.4d6288","type":"change","z":"f685ac4f.52a3c","name":"set flow mute off","rules":[{"t":"set","p":"payload","pt":"msg","to":"mute","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":1320,"wires":[[]]},{"id":"d1f76185.f2f7","type":"ui_button","z":"f685ac4f.52a3c","name":"DVBS GUI","group":"881c0f84.21fa5","order":48,"width":3,"height":1,"passthru":false,"label":"DVBS GUI","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2650,"y":1260,"wires":[["8576952c.477fd8"]]},{"id":"8576952c.477fd8","type":"exec","z":"f685ac4f.52a3c","command":"dvbs_gui.lnk","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"DVB-S GUI","x":2850,"y":1260,"wires":[[],[],[]]},{"id":"93af338e.ca2b5","type":"ui_button","z":"f685ac4f.52a3c","name":"Custom profile","group":"44fd92d9.5ab13c","order":34,"width":5,"height":1,"passthru":false,"label":"Custom profile","tooltip":"","color":"","bgcolor":"{{p9_color}}","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2640,"y":1360,"wires":[["13d345a5.ae8d8a"]]},{"id":"521d268a.36f998","type":"exec","z":"f685ac4f.52a3c","command":"DATV-TX.bat custom ","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Load custom","x":3150,"y":1360,"wires":[[],["2c4c7bcd.d7c6a4"],[]]},{"id":"13d345a5.ae8d8a","type":"function","z":"f685ac4f.52a3c","name":"ffmpeg process safegaurd","func":"let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"\" || ffmpegPID === undefined) {\n    msg.payload = `${parseInt(global.get(\"settings.SR\"))} ${global.get(\"settings.MODE\")} ${global.get(\"settings.FEC\")} ${global.get(\"settings.IMAGESIZE\")} ${global.get(\"settings.FPS\")} ${global.get(\"settings.AUDIO\")} ${global.get(\"settings.CODEC\")} ${global.get(\"settings.TSBITRATE\")} ${global.get(\"frequency\")} ${global.get(\"settings.VBITRATE\")} ${global.get(\"settings.ABITRATE\")}`;\n    return msg;\n}\nreturn;\n","outputs":1,"noerr":0,"x":2890,"y":1360,"wires":[["521d268a.36f998"]]},{"id":"aa4263d7.6dfdd","type":"function","z":"f685ac4f.52a3c","name":"Settings manager","func":"if (msg.payload !== 1) {\n    let jsonSettings = global.get(\"settings\");\n    msg.payload = JSON.stringify(jsonSettings);\n    return msg;\n}\n","outputs":1,"noerr":0,"x":3030,"y":220,"wires":[["c97382e1.fc7d6","862d5d61.9e326"]]},{"id":"c97382e1.fc7d6","type":"file","z":"f685ac4f.52a3c","name":"","filename":"settings.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":3250,"y":220,"wires":[[]]},{"id":"bae0dfb3.e73d7","type":"function","z":"f685ac4f.52a3c","name":"Calculate bitrate function","func":"if (msg.payload) {\n    global.set(\"bitratechange\", false);\n    let sr = parseInt(global.get(\"device.SR\")) / 1000;\n    global.set(\"settings.SR\", sr);\n    let audioBitRate = parseInt(global.get(\"settings.ABITRATE\"));\n    let videoBitRate = 0;\n\n    let fec = global.get(\"device.FEC\");\n    let numerator = parseInt(fec.substr(0, 1));\n    let denominator = parseInt(fec.substr(2, 2));\n    let fecCalculated = numerator / denominator;\n    let constelMode =\n        global.get(\"device.Constel\") === \"qpsk\" ? 2 :\n            global.get(\"device.Constel\") === \"8psk\" ? 3 :\n                global.get(\"device.Constel\") === \"16apsk\" ? 4 :\n                    5;\n    let qpskTsBitRate = constelMode * sr * 188 / 204 * fecCalculated * 1075 / 1000;\n    global.set(\"settings.TSBITRATE\", qpskTsBitRate.toFixed(2));\n    if (sr > 20 && sr < 36) {\n        videoBitRate = (1000 * qpskTsBitRate * 50 / 100 / 1000) - audioBitRate;\n    }\n    if (sr > 35 && sr < 67) {\n        videoBitRate = (1000 * qpskTsBitRate * 60 / 100 / 1000) - audioBitRate;\n    }\n    if (sr > 66 && sr < 126) {\n        videoBitRate = (1000 * qpskTsBitRate * 68 / 100 / 1000) - audioBitRate;\n    }\n    if (sr > 125 && sr < 251) {\n        videoBitRate = (1000 * qpskTsBitRate * 76 / 100 / 1000) - audioBitRate;\n    }\n    if (sr > 250 && sr < 334) {\n        videoBitRate = (1000 * qpskTsBitRate * 80 / 100 / 1000) - audioBitRate;\n    }\n    if (sr > 333 && sr < 501) {\n        videoBitRate = (1000 * qpskTsBitRate * 82 / 100 / 1000) - audioBitRate;\n    }\n    if (sr > 500 && sr < 1001) {\n        videoBitRate = (1000 * qpskTsBitRate * 86 / 100 / 1000) - audioBitRate;\n    }\n    if (sr > 1000 && sr < 1501) {\n        videoBitRate = (1000 * qpskTsBitRate * 87 / 100 / 1000) - audioBitRate;\n    }\n    if (sr > 1500 && sr < 3001) {\n        videoBitRate = (1000 * qpskTsBitRate * 87 / 100 / 1000) - audioBitRate;\n    }\n    msg.payload = qpskTsBitRate.toFixed(2);\n    global.set(\"settings.VBITRATE\", videoBitRate.toFixed(2));\n    msg.vidbr = videoBitRate?.toFixed(2);\n    return msg;\n} \n","outputs":1,"noerr":0,"x":2870,"y":120,"wires":[["aa4263d7.6dfdd"]]},{"id":"d0536547.afb078","type":"ui_text","z":"f685ac4f.52a3c","group":"44fd92d9.5ab13c","order":4,"width":5,"height":1,"name":"","label":"Video bitrate","format":"{{msg.payload}} kb/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":3950,"y":620,"wires":[]},{"id":"a2814b90.c306c8","type":"ui_text","z":"f685ac4f.52a3c","group":"44fd92d9.5ab13c","order":2,"width":5,"height":1,"name":"","label":"TS bitrate","format":"{{msg.payload}} kb/s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":3940,"y":680,"wires":[]},{"id":"348d9e8d.8a8492","type":"hourglass","z":"f685ac4f.52a3c","name":"","persistId":"","humanizeLocale":"","x":3780,"y":320,"wires":[["5d46b88b.e09c48","a02b91df.eab24"]]},{"id":"a702539.ef062b","type":"ui_text","z":"f685ac4f.52a3c","group":"44fd92d9.5ab13c","order":37,"width":5,"height":1,"name":"","label":"Profile time","format":"{{msg.payload}} s","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":3950,"y":240,"wires":[]},{"id":"12a86059.98e0c","type":"function","z":"f685ac4f.52a3c","name":"Timer status and reset","func":"if(msg.payload !== undefined){\n    let imagesize = msg.payload;\n    global.set(\"settings.IMAGESIZE\", `${imagesize}`.trim());\n}\nif(global.get(\"ProfileButtonsActive\")){\n    msg.command = \"status\";\n    return msg;\n}\nif(global.get(\"started\")){\n    msg.command = \"reset\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":3560,"y":320,"wires":[["348d9e8d.8a8492"]]},{"id":"5d46b88b.e09c48","type":"change","z":"f685ac4f.52a3c","name":"","rules":[{"t":"set","p":"started","pt":"global","to":"started","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3970,"y":360,"wires":[[]]},{"id":"a02b91df.eab24","type":"calculator","z":"f685ac4f.52a3c","name":"Milli to second","inputMsgField":"elapsed.millis","outputMsgField":"payload","operation":"div","constant":"1000","round":true,"decimals":"0","x":3960,"y":300,"wires":[["a702539.ef062b"]]},{"id":"f0b0881b.cb0f18","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":3950,"y":180,"wires":[["a702539.ef062b"]]},{"id":"259ebcea.e57bf4","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"881c0f84.21fa5","order":17,"width":2,"height":1,"passthru":false,"label":"+Hz","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1750,"y":40,"wires":[["2a41c338.4d8d3c"]]},{"id":"9464c083.00d91","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"881c0f84.21fa5","order":16,"width":2,"height":1,"passthru":false,"label":"-Hz","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1750,"y":80,"wires":[["d56136d6.b373b8"]]},{"id":"2a41c338.4d8d3c","type":"function","z":"f685ac4f.52a3c","name":"Increase nco","func":"let currentNCO = global.get(\"nco\");\nlet uppedNCO = parseFloat(currentNCO) + 250;\nmsg.payload = uppedNCO.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":40,"wires":[["48e9fcd7.919d84"]]},{"id":"d56136d6.b373b8","type":"function","z":"f685ac4f.52a3c","name":"Decrease nco","func":"let currentNCO = global.get(\"nco\");\nlet uppedNCO = parseFloat(currentNCO) - 250;\nmsg.payload = uppedNCO.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":80,"wires":[["48e9fcd7.919d84"]]},{"id":"d22cf05a.46c74","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"imagesize","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3340,"y":320,"wires":[["12a86059.98e0c"]]},{"id":"60758ccf.101e14","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":3190,"y":320,"wires":[["d22cf05a.46c74"]]},{"id":"550e8fcf.5a464","type":"comment","z":"f685ac4f.52a3c","name":"profile loading change imagesize","info":"","x":3550,"y":280,"wires":[]},{"id":"c0ef41eb.67c14","type":"inject","z":"f685ac4f.52a3c","name":"active pid","topic":"","payload":"pid","payloadType":"global","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":2470,"y":1060,"wires":[["4b323f4b.16161"]]},{"id":"409ca7ab.b9a9e8","type":"exec","z":"f685ac4f.52a3c","command":"ffplayudp.bat","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"VLC","x":3090,"y":1560,"wires":[[],[],[]]},{"id":"4c4c1399.331fcc","type":"ui_button","z":"f685ac4f.52a3c","name":"","group":"881c0f84.21fa5","order":49,"width":3,"height":1,"passthru":false,"label":"Ffplay 8888","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2370,"y":1560,"wires":[["409ca7ab.b9a9e8"]]},{"id":"77bfb4f7.664dbc","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","repeat":"","crontab":"","once":true,"onceDelay":"1","x":3610,"y":440,"wires":[["c40a1e00.2f44c"]]},{"id":"c40a1e00.2f44c","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"vbitrate","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3760,"y":440,"wires":[["a2ef6a23.124618"]]},{"id":"a2ef6a23.124618","type":"function","z":"f685ac4f.52a3c","name":"set vbitrate first load","func":"if (msg.payload !== undefined) {\n    let vbitrateAtStart = `${msg.payload}`.trim();\n    global.set(\"settings.VBITRATE\", vbitrateAtStart)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":3960,"y":440,"wires":[[]]},{"id":"b61cb5a2.3dc588","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","repeat":"","crontab":"","once":true,"onceDelay":"1","x":3610,"y":500,"wires":[["b37c1d4f.6c151"]]},{"id":"b37c1d4f.6c151","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"abitrate","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3760,"y":500,"wires":[["7b278cfd.132584"]]},{"id":"7b278cfd.132584","type":"function","z":"f685ac4f.52a3c","name":"set abitrate first load","func":"if (msg.payload !== undefined) {\n    let abitrateAtStart = `${msg.payload}`.trim();\n    global.set(\"settings.ABITRATE\", abitrateAtStart)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":3960,"y":500,"wires":[[]]},{"id":"d8f3ca21.778b78","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","repeat":"0.1","crontab":"","once":true,"onceDelay":"1","x":3610,"y":560,"wires":[["2b90f711.5e2f28"]]},{"id":"2b90f711.5e2f28","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"codec","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3750,"y":560,"wires":[["4c95e780.a0b1f8"]]},{"id":"4c95e780.a0b1f8","type":"function","z":"f685ac4f.52a3c","name":"set last used codecfirst load","func":"if (msg.payload !== undefined) {\n    let codec = `${msg.payload}`.trim();\n    global.set(\"settings.CODEC\", codec)\n    return msg;\n}\n","outputs":1,"noerr":0,"x":3980,"y":560,"wires":[[]]},{"id":"c79ae341.77e69","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"settings.VBITRATE","payloadType":"global","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":3680,"y":620,"wires":[["d0536547.afb078"]]},{"id":"cc8f1c8f.342ae","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"settings.TSBITRATE","payloadType":"global","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":3680,"y":680,"wires":[["a2814b90.c306c8"]]},{"id":"d81019a6.33b788","type":"exec","z":"f685ac4f.52a3c","command":"clear_ffmpeg.bat","addpay":"","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"clear_ffmpeg","x":3410,"y":1040,"wires":[[],[],[]]},{"id":"5c9ea690.a6b4d8","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":3030,"y":400,"wires":[["9c273a31.b76768"]]},{"id":"9c273a31.b76768","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"ffmpeg_call","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":3190,"y":400,"wires":[["11d443a3.c9aaac"]]},{"id":"11d443a3.c9aaac","type":"ui_text_input","z":"f685ac4f.52a3c","name":"","label":"ffmpeg command","tooltip":"","group":"b25f7c03.f1938","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":3390,"y":400,"wires":[["1e27c9d3.c51256"]]},{"id":"db1a54ad.f7bd28","type":"ui_text","z":"f685ac4f.52a3c","group":"881c0f84.21fa5","order":53,"width":17,"height":1,"name":"","label":"ffmpeg output","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":"14","color":"#ffffff","x":3840,"y":880,"wires":[]},{"id":"2c4c7bcd.d7c6a4","type":"function","z":"f685ac4f.52a3c","name":"Output safegaurd","func":"let ffmpegOut = msg.payload;\nif (`${ffmpegOut}`.includes(\"drop=\")){\n    msg.payload = ffmpegOut;\n    return msg;\n}","outputs":1,"noerr":0,"x":3690,"y":980,"wires":[["db1a54ad.f7bd28"]]},{"id":"1e27c9d3.c51256","type":"function","z":"f685ac4f.52a3c","name":"Output clearer","func":"let ffmpegOut = msg.payload;\nif (ffmpegOut === \"\" || `${ffmpegOut}`.length < 2){\n    msg.payload = ffmpegOut;\n    return msg;\n}","outputs":1,"noerr":0,"x":3660,"y":820,"wires":[["db1a54ad.f7bd28"]]},{"id":"ce0ecdf8.fcbed","type":"inject","z":"f685ac4f.52a3c","name":"did bit change checker","topic":"","payload":"bitratechange","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":2310,"y":200,"wires":[["bae0dfb3.e73d7"]]},{"id":"491d0d33.1fa564","type":"debug","z":"f685ac4f.52a3c","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3180,"y":1280,"wires":[]},{"id":"2d397155.28aa8e","type":"function","z":"f685ac4f.52a3c","name":"then we should stop the transmission and profile","func":"let payload = msg.stop;\nif (payload){\n    global.set(\"stop\", false);\n    msg.payload = \"1\";\n    return msg;\n}","outputs":1,"noerr":0,"x":2120,"y":760,"wires":[["8f213e0c.b326c","70ab80df.c5528"]]},{"id":"39416cbb.910414","type":"inject","z":"f685ac4f.52a3c","name":"did we change profile variables?","topic":"","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":1980,"y":660,"wires":[["2d397155.28aa8e"]]},{"id":"c9439dba.add12","type":"function","z":"f685ac4f.52a3c","name":"FEC watchdog","func":"let constel = msg.payload;\nlet fec = global.get(\"device.FEC\");\nswitch (constel) {\n    case \"qpsk\":\n        msg.payload = fec;\n        msg.options = [\"1/4\", \"1/3\", \"2/5\", \"1/2\", \"3/5\", \"2/3\", \"3/4\", \"4/5\", \"5/6\", \"8/9\", \"9/10\"];\n        return msg;\n    case \"8psk\":\n        msg.payload = fec;\n        msg.options = [\"3/5\", \"2/3\", \"3/4\", \"4/5\", \"5/6\", \"8/9\", \"9/10\"];\n        return msg;\n    case \"16apsk\":\n        msg.payload = fec;\n        msg.options = [\"2/3\", \"3/4\", \"4/5\", \"5/6\", \"8/9\", \"9/10\"];\n        return msg;\n    case \"32apsk\":\n        msg.payload = fec;\n        msg.options = [\"3/4\", \"4/5\", \"5/6\", \"8/9\", \"9/10\"];\n        return msg;\n}\n","outputs":1,"noerr":0,"x":1220,"y":900,"wires":[["4604331c.deeecc","14a6b4e6.7aa6db"]]},{"id":"96c21ecd.ea6dd","type":"http in","z":"f685ac4f.52a3c","name":"","url":"/spectrum","method":"get","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["8033fee5.e66a"]]},{"id":"6442d678.22b2e8","type":"http response","z":"f685ac4f.52a3c","name":"","x":590,"y":280,"wires":[]},{"id":"8033fee5.e66a","type":"file in","z":"f685ac4f.52a3c","name":"","filename":"wb/index.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":280,"wires":[["6442d678.22b2e8"]]},{"id":"f6a27225.afaee","type":"ui_iframe","z":"f685ac4f.52a3c","group":"c5d558e5.eb16c8","name":"spectrum iframe","order":1,"width":"32","height":"10","url":"/spectrum","origin":"*","scale":"93","x":400,"y":320,"wires":[[]]},{"id":"2993094.eb2b7f6","type":"comment","z":"f685ac4f.52a3c","name":"Spectrum comments","info":"This was hacked together on a Saterday afternoon usign the javascript available on the [batc](https://eshail.batc.org.uk/wb) site\nSince path referencing cannot work this way, I had to include all the JS and CSS import in one html file.\nThis works...","x":410,"y":240,"wires":[]},{"id":"34265948.7a27f6","type":"ui_text","z":"f685ac4f.52a3c","group":"881c0f84.21fa5","order":1,"width":19,"height":1,"name":"space","label":" ","format":"{{msg.payload}}","layout":"row-spread","className":"","style":true,"font":"","fontSize":"2","color":"#000000","x":1350,"y":400,"wires":[]},{"id":"862d5d61.9e326","type":"ui_toast","z":"f685ac4f.52a3c","position":"top right","displayTime":"3","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":3230,"y":80,"wires":[]},{"id":"d4f23ece.1dd55","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"device.Constel","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1160,"y":800,"wires":[["c9439dba.add12"]]},{"id":"188f7c95.87dd43","type":"inject","z":"f685ac4f.52a3c","name":"","topic":"","payload":"device.Constel","payloadType":"global","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1200,"y":1400,"wires":[["45fe23a.25cebdc"]]},{"id":"ed0deb72.125528","type":"ui_dropdown","z":"b2eead3c.d4e24","name":"","label":"Hardware Codec","tooltip":"","place":"Select option","group":"c558249f.7fa428","order":29,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"h264_nvenc","type":"str"},{"label":"","value":"hevc_nvenc","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":630,"y":80,"wires":[["bebfa64.0398958"]]},{"id":"9445d4e1.db97b8","type":"ui_text","z":"b2eead3c.d4e24","group":"c558249f.7fa428","order":60,"width":11,"height":1,"name":"Codec panel spacer","label":"","format":"","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":320,"y":540,"wires":[]},{"id":"2d7aa2a9.37c8ce","type":"ui_dropdown","z":"b2eead3c.d4e24","name":"","label":"Software codec","tooltip":"","place":"Select option","group":"c558249f.7fa428","order":27,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"libx264","type":"str"},{"label":"","value":"libx265","type":"str"},{"label":"","value":"libvvenc","type":"str"},{"label":"","value":"libaom-av1","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":600,"y":160,"wires":[["bebfa64.0398958"]]},{"id":"fc09c68a.71ced8","type":"ui_dropdown","z":"b2eead3c.d4e24","name":"","label":"Framerate","tooltip":"","place":"","group":"c558249f.7fa428","order":19,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"5fps","value":"5","type":"str"},{"label":"10 fps","value":"10","type":"str"},{"label":"15 fps","value":"15","type":"str"},{"label":"20 fps","value":"20","type":"str"},{"label":"25 fps","value":"25","type":"str"},{"label":"30 fps","value":"30","type":"str"},{"label":"48 fps","value":"48","type":"str"},{"label":"50 fps","value":"50","type":"str"},{"label":"60 fps","value":"60","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":550,"y":240,"wires":[["bda75802.436c18"]]},{"id":"8d2050b9.1997e","type":"ui_dropdown","z":"b2eead3c.d4e24","name":"","label":"Audio","tooltip":"","place":"Select option","group":"c558249f.7fa428","order":22,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"Mono","value":"1","type":"str"},{"label":"Stereo","value":"2","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":530,"y":300,"wires":[["7922c39f.63531c"]]},{"id":"b74c758d.146998","type":"ui_text","z":"b2eead3c.d4e24","group":"c558249f.7fa428","order":9,"width":5,"height":1,"name":"","label":"Codec","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":670,"y":620,"wires":[]},{"id":"bebfa64.0398958","type":"function","z":"b2eead3c.d4e24","name":"function 1","func":"let payload = msg.payload;\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":180,"wires":[["b57222e4.3a442"]]},{"id":"bda75802.436c18","type":"change","z":"b2eead3c.d4e24","name":"Framerate","rules":[{"t":"set","p":"settings.FPS","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":240,"wires":[["3b1510db.f5808"]]},{"id":"7922c39f.63531c","type":"change","z":"b2eead3c.d4e24","name":"Audio channels","rules":[{"t":"set","p":"settings.AUDIO","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":300,"wires":[["3b1510db.f5808"]]},{"id":"b57222e4.3a442","type":"change","z":"b2eead3c.d4e24","name":"Codec","rules":[{"t":"set","p":"settings.CODEC","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":180,"wires":[["3b1510db.f5808","f5c47f74.bcd5"]]},{"id":"b1467cfa.7cb08","type":"ui_dropdown","z":"b2eead3c.d4e24","name":"","label":"Image Size","tooltip":"","place":"","group":"c558249f.7fa428","order":32,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"426x240","type":"str"},{"label":"","value":"640x360","type":"str"},{"label":"","value":"854x480","type":"str"},{"label":"","value":"960x540","type":"str"},{"label":"","value":"1024x576","type":"str"},{"label":"","value":"1280x720","type":"str"},{"label":"","value":"1600x900","type":"str"},{"label":"","value":"1920x1080","type":"str"},{"label":"","value":"2560x1440","type":"str"},{"label":"","value":"3840x2160","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":570,"y":420,"wires":[["7b32b8fe.9296e8"]]},{"id":"7b32b8fe.9296e8","type":"change","z":"b2eead3c.d4e24","name":"Image size","rules":[{"t":"set","p":"settings.IMAGESIZE","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":420,"wires":[["3b1510db.f5808","eaf50d4d.968a6"]]},{"id":"6b92e144.60ede","type":"ui_dropdown","z":"b2eead3c.d4e24","name":"","label":"Audio bitrate kb/s","tooltip":"","place":"Select option","group":"c558249f.7fa428","order":24,"width":5,"height":1,"passthru":false,"multiple":false,"options":[{"label":"","value":"6","type":"str"},{"label":"","value":"8","type":"str"},{"label":"","value":"12","type":"str"},{"label":"","value":"16","type":"str"},{"label":"","value":"24","type":"str"},{"label":"","value":"32","type":"str"},{"label":"","value":"48","type":"str"},{"label":"","value":"64","type":"str"},{"label":"","value":"96","type":"str"},{"label":"","value":"128","type":"str"},{"label":"","value":"192","type":"str"},{"label":"","value":"256","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":570,"y":480,"wires":[["47db14af.aeaf9c"]]},{"id":"47db14af.aeaf9c","type":"change","z":"b2eead3c.d4e24","name":"Audio Bitrate","rules":[{"t":"set","p":"settings.ABITRATE","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":480,"wires":[["3b1510db.f5808"]]},{"id":"1059f279.0fc94e","type":"file in","z":"b2eead3c.d4e24","name":"","filename":"settings.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":570,"y":720,"wires":[["f1eb234c.e1f19"]]},{"id":"f1eb234c.e1f19","type":"function","z":"b2eead3c.d4e24","name":"function 3","func":"let jsonSettings = JSON.parse(msg.payload);\nmsg.payload = jsonSettings;\nmsg.codec = jsonSettings.CODEC;\nglobal.set(\"settings\", jsonSettings);\nglobal.set(\"device.Constel\", jsonSettings.MODE);\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":720,"wires":[["af91bf4f.1d1b2"]]},{"id":"f91cce31.63c2f","type":"inject","z":"b2eead3c.d4e24","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":390,"y":720,"wires":[["1059f279.0fc94e"]]},{"id":"af91bf4f.1d1b2","type":"debug","z":"b2eead3c.d4e24","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":720,"wires":[]},{"id":"3b1510db.f5808","type":"function","z":"b2eead3c.d4e24","name":"Settings manager","func":"let jsonSettings = global.get(\"settings\");\nmsg.codec = jsonSettings.CODEC;\nmsg.payload = JSON.stringify(jsonSettings);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":360,"wires":[["36ced30.cca4f2e","4f08fe23.cffb"]]},{"id":"36ced30.cca4f2e","type":"file","z":"b2eead3c.d4e24","name":"","filename":"settings.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1290,"y":420,"wires":[[]]},{"id":"8330c61.8da8438","type":"ui_text","z":"b2eead3c.d4e24","group":"c558249f.7fa428","order":7,"width":5,"height":1,"name":"","label":"Imagesize","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1170,"y":80,"wires":[]},{"id":"4406989f.6ef258","type":"inject","z":"b2eead3c.d4e24","name":"image size","topic":"","payload":"settings.IMAGESIZE","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":950,"y":120,"wires":[["8330c61.8da8438"]]},{"id":"eaf50d4d.968a6","type":"file","z":"b2eead3c.d4e24","name":"","filename":"imagesize","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1020,"y":440,"wires":[[]]},{"id":"ddd604e6.6db6d8","type":"inject","z":"b2eead3c.d4e24","name":"image size","topic":"","payload":"settings.IMAGESIZE","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":420,"wires":[["b1467cfa.7cb08"]]},{"id":"3e3f6812.fab4c8","type":"inject","z":"b2eead3c.d4e24","name":"audio bitrate","topic":"","payload":"settings.ABITRATE","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":360,"y":480,"wires":[["6b92e144.60ede"]]},{"id":"3fa24fb9.57031","type":"inject","z":"b2eead3c.d4e24","name":"audio channels","topic":"","payload":"settings.AUDIO","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":300,"y":300,"wires":[["8d2050b9.1997e"]]},{"id":"61251cc2.0f5234","type":"inject","z":"b2eead3c.d4e24","name":"fps","topic":"","payload":"settings.FPS","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":220,"wires":[["fc09c68a.71ced8"]]},{"id":"4f08fe23.cffb","type":"change","z":"b2eead3c.d4e24","name":"Set globals","rules":[{"t":"set","p":"bitratechange","pt":"global","to":"true","tot":"str"},{"t":"set","p":"stop","pt":"global","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":300,"wires":[[]]},{"id":"95ea5e.6fa985a","type":"inject","z":"b2eead3c.d4e24","name":"codec","topic":"","payload":"settings.CODEC","payloadType":"global","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":480,"y":620,"wires":[["b74c758d.146998"]]},{"id":"f5c47f74.bcd5","type":"file","z":"b2eead3c.d4e24","name":"","filename":"codec","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1230,"y":180,"wires":[[]]},{"id":"eb975c3d.a1cfa","type":"inject","z":"b2eead3c.d4e24","name":"","topic":"","payload":"settings.CODEC","payloadType":"global","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":80,"wires":[["ed0deb72.125528","2d7aa2a9.37c8ce"]]},{"id":"1bf96e0c.388b32","type":"change","z":"b2eead3c.d4e24","name":"","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":980,"wires":[["cfd8799e.b9a798"]]},{"id":"1b65d7d6.fbd5c8","type":"switch","z":"b2eead3c.d4e24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":1020,"wires":[["1bf96e0c.388b32"],["937d9c23.66d2a"],["8339e6b0.3565c8"]]},{"id":"cfd8799e.b9a798","type":"ui_text","z":"b2eead3c.d4e24","group":"bccf2f9.e8b46d","order":7,"width":9,"height":6,"name":"","label":"Value","format":"<font face='arial'><font size=6><font color={{fcolor}}>{{msg.payload}}","layout":"row-spread","className":"","x":1150,"y":1020,"wires":[]},{"id":"3ebdfaf.a84b306","type":"ui_button","z":"b2eead3c.d4e24","name":"","group":"bccf2f9.e8b46d","order":8,"width":3,"height":2,"passthru":false,"label":"Zero","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-heartbeat","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":590,"y":1020,"wires":[["1b65d7d6.fbd5c8"]]},{"id":"c598aa13.913bc8","type":"ui_button","z":"b2eead3c.d4e24","name":"","group":"bccf2f9.e8b46d","order":9,"width":3,"height":2,"passthru":false,"label":"+10","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"10","payloadType":"num","topic":"topic","topicType":"msg","x":590,"y":1060,"wires":[["1b65d7d6.fbd5c8"]]},{"id":"47985f04.8efb","type":"ui_button","z":"b2eead3c.d4e24","name":"","group":"bccf2f9.e8b46d","order":4,"width":3,"height":2,"passthru":false,"label":"-10","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"-10","payloadType":"num","topic":"topic","topicType":"msg","x":590,"y":980,"wires":[["1b65d7d6.fbd5c8"]]},{"id":"937d9c23.66d2a","type":"change","z":"b2eead3c.d4e24","name":"","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1020,"wires":[["cfd8799e.b9a798"]]},{"id":"8339e6b0.3565c8","type":"change","z":"b2eead3c.d4e24","name":"","rules":[{"t":"set","p":"fcolor","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1060,"wires":[["cfd8799e.b9a798"]]}]