NR_flows/tx.json
[
    {
        "id": "2ec6a7ddfe0cd173",
        "type": "tab",
        "label": "PlutoDVB TX V1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1d6ea1c9ce542926",
        "type": "group",
        "z": "2ec6a7ddfe0cd173",
        "name": "Not used right now",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "label": true,
            "color": "#ffffff"
        },
        "nodes": [
            "f2453c932edfdf06",
            "6707b23b38080a71",
            "8305a6ab021ac648"
        ],
        "x": 514,
        "y": 399,
        "w": 532,
        "h": 122
    },
    {
        "id": "9c3a6dbecd18c092",
        "type": "group",
        "z": "2ec6a7ddfe0cd173",
        "name": "Read MQTT",
        "style": {
            "stroke": "#92d04f",
            "label": true,
            "fill": "#e3f3d3",
            "color": "#000000"
        },
        "nodes": [
            "36a9e71117a34327",
            "babe629c1afb5e8b",
            "45967ab8c3bd9a21",
            "74fb79f38c7d1d72",
            "d2b51c2f7d254def",
            "18d422fe182d6186",
            "306b57e47411d35c",
            "ae6b05d807ae6c29",
            "23773127332c2b1f",
            "ecce0d5157b947f6",
            "9aa8ef50bbbe8e2d",
            "4301a516016525b7",
            "d26972d34559fd63",
            "a252d32151c887e4",
            "a27d9eec9ce16ab7",
            "b601d6596401a754",
            "b6d03834b636d44d",
            "9cea687107707a6b",
            "50bf46056b71ec3a",
            "5d39969ea562b92d",
            "18b3a285bc3b304a",
            "59e507f64ad42e32",
            "4ddefda4dc462586",
            "a3b043862df5d1c9",
            "203d8eabee6242e7",
            "33155f6018ceeffa",
            "7a4a8d639646cff4",
            "acbc87cefb97b581",
            "96d158d7fdc5ee78",
            "746af9f95f7438cd",
            "3151643ca739182e",
            "9fb89f4342f8baf0",
            "e2ddf0eaa1468069",
            "be979e81cb1cfd53",
            "91114b46796f2205",
            "aeded232cbae2ef0",
            "4dc0d6bc0972a150",
            "5969ebe7bc4ebaf9",
            "8bcc3bb6537a078d",
            "56ad120991eb3c83",
            "97406770f0c5c44d",
            "2e28b17c64c14184",
            "04d27b36a3ee9934",
            "76bed5f0ebc81a4c",
            "ffdc2abacd936657",
            "25a924b7dc1d4576",
            "c25d1cacc8057d1d",
            "0b6d33db8fc071c9",
            "ac88fa94a49129ec",
            "347c8041af1a52e0",
            "92bdb03cfb54e314",
            "54cbda477035a37f",
            "295347c7270ee5f9",
            "689b33376ddc8653",
            "e0f5c4a53f48610b",
            "4b23c7a819f12eb7",
            "8ec0b8acdb25a6b7",
            "1cc9bf09772f06d3",
            "54e338fa6a48fd5b",
            "45ea934ddc9664a3",
            "12de00c45ec62557",
            "ae61c1e19f8634d0",
            "8a6e91746db5e484",
            "31eb287a0ca0a45c",
            "508bccc9de4506fc",
            "2acfb18cb9db9a02",
            "8e34088eda2b7263",
            "b733d75a1c79f1a2",
            "c8042db5402565df",
            "e1cd38d2156ae7ba",
            "0813517cbc9b99f3",
            "c4f36ff7105c2dd1",
            "de949c9780005117",
            "c44d0cb54ec5e706",
            "4fd321bd9fa719f3"
        ],
        "x": 14,
        "y": 559,
        "w": 1012,
        "h": 1502
    },
    {
        "id": "3cbecfd0821bcfcc",
        "type": "group",
        "z": "2ec6a7ddfe0cd173",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e6bb4e6e08658367"
        ],
        "x": 1048,
        "y": -27,
        "w": 2204,
        "h": 1934
    },
    {
        "id": "e6bb4e6e08658367",
        "type": "group",
        "z": "2ec6a7ddfe0cd173",
        "g": "3cbecfd0821bcfcc",
        "name": "Dashboard clickies",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "label": true,
            "color": "#000000"
        },
        "nodes": [
            "5f71534b6c02e324",
            "f29b8d8eb8441fde",
            "88c17ad9f892b06d",
            "b6da9101dce07fd1",
            "508ff50f2a470219",
            "f0c209e940860820",
            "0ceccbf10dbcc8af",
            "4245872bb9518343",
            "af45e1bfc3e75ecb",
            "55bca069bdb08ee7",
            "dffe1e50bcaeb0a5",
            "be4a04a5a054f988",
            "2e677684d13ac6e0",
            "aa6d588a480f161c",
            "ddf60892397fbc68",
            "1969a0cddc042f2e",
            "152082051caa1d1d",
            "37b18a222ae30d52",
            "cec2f56be1fccf51",
            "89b95ad3b6453036",
            "807128449158f2eb",
            "edf4a8f5daf0b0ab",
            "f38c438a231661c6",
            "c5ceed661f8529ce",
            "ce96de0f7dba91c5",
            "0c74362e749bcdc4",
            "16a3685e614e0995",
            "4a50af4869a33baa",
            "14e5a286770d3cd0",
            "0d6f171d50f0a0c3",
            "70cb26f62de94a5d",
            "b1b6fc76c723e0f1",
            "93d8b2c69bdc7792",
            "7b06e3153449eb9a",
            "33a0bcca85522580",
            "d533bf0f097fedc4",
            "44d0cb3657f978dd",
            "462c1bee49073de7",
            "e91e846502f35c90",
            "6bdd18a478266cdb",
            "c157ba62f082ca1f",
            "264a75ae81fe9571",
            "e41f78ecb41096ea",
            "26d4847d4e66ef33",
            "ecd6781e5be6e360",
            "8a16f1f5708afd9e",
            "873a04942564e509",
            "be766117a7d2334f",
            "5c8e87753e4ad083",
            "923832cf30d7070e",
            "c4c1592e68a08ac2",
            "43c746e7299a60f3",
            "a6736166225853ff",
            "4d9019e6505648e5",
            "be04ba7a44aed070",
            "4f5692cf8cb6b8dd",
            "0024149327ace021",
            "c140f8f622e33238",
            "b2786302ea5b87d8",
            "8105dd1d410bdd4b",
            "0c94d661261c1f6e",
            "8f75f111bea67d19",
            "a0b7e955594b3ab5",
            "d8a30908a8d1d05a",
            "1fcb391face6d380",
            "a9ad9994f8c5db3b",
            "cea8ea667bfe40bc",
            "8fc50c918238bbb1",
            "b12e26636bc4a755",
            "6629d1fde454917d",
            "12df56e883c6693d",
            "4ecaf72037fc5448",
            "3a96d30a3b796a9c",
            "f79f4059793d2fec",
            "7e39412a746f70d4",
            "aa4a256618f7c4a6",
            "0d83df21a3badfd8",
            "ba28f83345465e97",
            "321917da5c241be6",
            "37c0f70c56da77c5",
            "21a3b184d3613c7e",
            "863b303484773cde",
            "8090b79c8e35900b",
            "b5ed5a8ccff72343",
            "05674316d3d8cdd1",
            "05fd121d8c4be283",
            "2b53743d597a8bd2",
            "b4aff87862b89a39",
            "edd3123535a89e2c",
            "5d8a44d8d3dfd931",
            "33dc958065cdada2",
            "c86fe263aa4ec386",
            "fa40ea4c517a1f33",
            "ec7f7985e8da8ed2",
            "9e5aaf4953afd279",
            "162c77371bb6c962",
            "8d1438b1aced373b",
            "8a4b0bf69ca74873",
            "7d6077cea86f2378",
            "d860f0accbd4f141",
            "da592dbb63826f5c",
            "b9e877b123e7e841",
            "cea22274822556fb",
            "13470e8cc4c1ccc1",
            "e6138b2b0fe03b94",
            "ba963a5480a22fc5",
            "bdfdc40f3409d5eb",
            "5af92414e3f29873",
            "b6f1e8e864f6acb1",
            "aee60236fea48d79",
            "95d261161c65d78d",
            "7266be4393838a8f",
            "edc838b06d6511f4",
            "cde0b8f279bd036d",
            "bd7080b9d634eebf",
            "e7122ff60e30d850",
            "3022dd981488dba6",
            "6f5791e469edab55",
            "45c2428c04be0e5f",
            "932baa0f165b71a2",
            "8c336280fd0fcc92",
            "8751a0dd93a8ed60",
            "243912e6844661ae",
            "ac482a3670a2a148",
            "23f54550ba5b6a79",
            "5d929a20d665af8d",
            "26fb093b23e3a621",
            "86f5a4e13856dce4",
            "2a88de9371c58247",
            "57db37c4faa9e7f2",
            "f1c3eeafb1365330",
            "d04e83af7fca53f0",
            "2d16a7785c1bb3dd",
            "b019a1fc7eadfd0f",
            "68e079e44b9dd5c2",
            "524de1980547eaea",
            "4c5bde857e7964a8",
            "e0a8b11837a3a291",
            "d52ca12408c4cd7d",
            "fcb0e7384f253327"
        ],
        "x": 1074,
        "y": -1,
        "w": 2152,
        "h": 1882
    },
    {
        "id": "162c77371bb6c962",
        "type": "group",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Disabled for breaking pluto...",
        "style": {
            "stroke": "#000000",
            "fill": "#ff7f7f",
            "label": true,
            "color": "#ffffff",
            "fill-opacity": "0.63"
        },
        "nodes": [
            "c6c7b77c513dc67d",
            "7f859a7a7ee27404",
            "680e1065a1131216",
            "139c2af2cc88bd80",
            "64b6e4713fac94bf",
            "9335bff762d93722",
            "45b5b704879d30fe",
            "c8c1c80d91c7c4b9"
        ],
        "x": 2294,
        "y": 119,
        "w": 792,
        "h": 302
    },
    {
        "id": "36a9e71117a34327",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1280,
        "wires": [
            [
                "74fb79f38c7d1d72",
                "a27d9eec9ce16ab7"
            ]
        ]
    },
    {
        "id": "babe629c1afb5e8b",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 16,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Frequency",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "17",
        "color": "#ffffff",
        "x": 710,
        "y": 1080,
        "wires": []
    },
    {
        "id": "dffe1e50bcaeb0a5",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "Channel",
        "tooltip": "",
        "place": "",
        "group": "9ed1d9a126995072",
        "order": 21,
        "width": 9,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "144.600 Mhz",
                "value": "144600000",
                "type": "str"
            },
            {
                "label": "436 Mhz",
                "value": "436000000",
                "type": "str"
            },
            {
                "label": "437 Mhz",
                "value": "437000000",
                "type": "str"
            },
            {
                "label": "1242 Mhz",
                "value": "1242000000",
                "type": "str"
            },
            {
                "label": "1255 Mhz",
                "value": "1255000000",
                "type": "str"
            },
            {
                "label": "1280 Mhz",
                "value": "1280000000",
                "type": "str"
            },
            {
                "label": "CH1 333KS",
                "value": "2403250000",
                "type": "str"
            },
            {
                "label": "CH2 125KS",
                "value": "2403500000",
                "type": "str"
            },
            {
                "label": "CH3 333KS 1Ms",
                "value": "2403750000",
                "type": "str"
            },
            {
                "label": "CH4 125KS",
                "value": "2404000000",
                "type": "str"
            },
            {
                "label": "CH5 333KS",
                "value": "2404250000",
                "type": "str"
            },
            {
                "label": "CH6 125KS",
                "value": "2404500000",
                "type": "str"
            },
            {
                "label": "CH7 333KS",
                "value": "2404750000",
                "type": "str"
            },
            {
                "label": "CH8 125KS",
                "value": "2405000000",
                "type": "str"
            },
            {
                "label": "CH9 333KS 1MS",
                "value": "2405250000",
                "type": "str"
            },
            {
                "label": "CH10 125KS",
                "value": "2405500000",
                "type": "str"
            },
            {
                "label": "CH11 333KS",
                "value": "2405750000",
                "type": "str"
            },
            {
                "label": "CH12 125KS",
                "value": "2406000000",
                "type": "str"
            },
            {
                "label": "CH13 333KS",
                "value": "2406250000",
                "type": "str"
            },
            {
                "label": "CH14 125KS",
                "value": "2406500000",
                "type": "str"
            },
            {
                "label": "CH15 333KS 1MS",
                "value": "2406750000",
                "type": "str"
            },
            {
                "label": "CH16 125KS",
                "value": "2407000000",
                "type": "str"
            },
            {
                "label": "CH17 333KS",
                "value": "2407250000",
                "type": "str"
            },
            {
                "label": "CH18 125KS",
                "value": "2407500000",
                "type": "str"
            },
            {
                "label": "CH19 333KS",
                "value": "2407750000",
                "type": "str"
            },
            {
                "label": "CH20 125KS",
                "value": "2408000000",
                "type": "str"
            },
            {
                "label": "CH21 333KS",
                "value": "2408250000",
                "type": "str"
            },
            {
                "label": "CH22 125KS",
                "value": "2408500000",
                "type": "str"
            },
            {
                "label": "CH23 333KS",
                "value": "2408750000",
                "type": "str"
            },
            {
                "label": "CH24 125KS",
                "value": "2409000000",
                "type": "str"
            },
            {
                "label": "CH25 333KS",
                "value": "2409250000",
                "type": "str"
            },
            {
                "label": "CH26 125KS",
                "value": "2409500000",
                "type": "str"
            },
            {
                "label": "CH27 333KS",
                "value": "2409750000",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1200,
        "y": 1060,
        "wires": [
            [
                "807128449158f2eb"
            ]
        ]
    },
    {
        "id": "be4a04a5a054f988",
        "type": "ui_slider",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "TX Gain",
        "label": "",
        "tooltip": "",
        "group": "9ed1d9a126995072",
        "order": 43,
        "width": 10,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "-89",
        "max": "0",
        "step": "-0.25",
        "className": "",
        "x": 1200,
        "y": 960,
        "wires": [
            [
                "37b18a222ae30d52"
            ]
        ]
    },
    {
        "id": "2e677684d13ac6e0",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "406afa738005f2e6",
        "order": 2,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "dvbs2-ts",
                "value": "dvbs2-ts",
                "type": "str"
            },
            {
                "label": "dvbs2-gse",
                "value": "dvbs2-gse",
                "type": "str"
            },
            {
                "label": "Carrier",
                "value": "test",
                "type": "str"
            },
            {
                "label": "pass",
                "value": "pass",
                "type": "str"
            },
            {
                "label": "dvbs-ts",
                "value": "dvbs-ts",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1190,
        "y": 1180,
        "wires": [
            [
                "edf4a8f5daf0b0ab"
            ]
        ]
    },
    {
        "id": "8a16f1f5708afd9e",
        "type": "mqtt out",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16855981254e7e93",
        "x": 1930,
        "y": 940,
        "wires": []
    },
    {
        "id": "aa6d588a480f161c",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "SampleRate",
        "tooltip": "",
        "place": "Samplerate",
        "group": "4f22c4dbc8bc16dd",
        "order": 14,
        "width": 9,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "35Ks",
                "value": 35000,
                "type": "num"
            },
            {
                "label": "66 Ks",
                "value": 66000,
                "type": "num"
            },
            {
                "label": "125 Ks",
                "value": 125000,
                "type": "num"
            },
            {
                "label": "250 Ks",
                "value": 250000,
                "type": "num"
            },
            {
                "label": "333 Ks",
                "value": 333000,
                "type": "num"
            },
            {
                "label": "500 Ks",
                "value": 500000,
                "type": "num"
            },
            {
                "label": "1 Ms",
                "value": 1000000,
                "type": "num"
            },
            {
                "label": "1.5 Ms/s",
                "value": 1500000,
                "type": "num"
            },
            {
                "label": "2 Ms",
                "value": 2000000,
                "type": "num"
            },
            {
                "label": "3 Ms",
                "value": 3000000,
                "type": "num"
            },
            {
                "label": "4 Ms",
                "value": 4000000,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1210,
        "y": 1120,
        "wires": [
            [
                "89b95ad3b6453036"
            ]
        ]
    },
    {
        "id": "45967ab8c3bd9a21",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1040,
        "wires": [
            [
                "babe629c1afb5e8b",
                "8ec0b8acdb25a6b7"
            ]
        ]
    },
    {
        "id": "74fb79f38c7d1d72",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 17,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "Muted ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d2b51c2f7d254def",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 960,
        "wires": [
            [
                "54cbda477035a37f"
            ]
        ]
    },
    {
        "id": "18d422fe182d6186",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 42,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Gain",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ddf60892397fbc68",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "Fec",
        "tooltip": "",
        "place": "Select option",
        "group": "4f22c4dbc8bc16dd",
        "order": 20,
        "width": 9,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "none",
                "value": 0,
                "type": "num"
            },
            {
                "label": "1/4",
                "value": "1/4",
                "type": "str"
            },
            {
                "label": "1/3",
                "value": "1/3",
                "type": "str"
            },
            {
                "label": "2/5",
                "value": "2/5",
                "type": "str"
            },
            {
                "label": "1/2",
                "value": "1/2",
                "type": "str"
            },
            {
                "label": "3/5",
                "value": "3/5",
                "type": "str"
            },
            {
                "label": "2/3",
                "value": "2/3",
                "type": "str"
            },
            {
                "label": "3/4",
                "value": "3/4",
                "type": "str"
            },
            {
                "label": "4/5",
                "value": "4/5",
                "type": "str"
            },
            {
                "label": "5/6",
                "value": "5/6",
                "type": "str"
            },
            {
                "label": "6/7",
                "value": "6/7",
                "type": "str"
            },
            {
                "label": "7/8",
                "value": "7/8",
                "type": "str"
            },
            {
                "label": "8/9",
                "value": "8/9",
                "type": "str"
            },
            {
                "label": "9/10",
                "value": "9/10",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1190,
        "y": 760,
        "wires": [
            [
                "cec2f56be1fccf51"
            ]
        ]
    },
    {
        "id": "306b57e47411d35c",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1200,
        "wires": [
            [
                "ae6b05d807ae6c29",
                "54e338fa6a48fd5b"
            ]
        ]
    },
    {
        "id": "ae6b05d807ae6c29",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 53,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 1240,
        "wires": []
    },
    {
        "id": "23773127332c2b1f",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "ecce0d5157b947f6",
                "1cc9bf09772f06d3"
            ]
        ]
    },
    {
        "id": "ecce0d5157b947f6",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 48,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Sample Rate",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 710,
        "y": 1160,
        "wires": []
    },
    {
        "id": "9aa8ef50bbbe8e2d",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 800,
        "wires": [
            [
                "4301a516016525b7",
                "e0f5c4a53f48610b"
            ]
        ]
    },
    {
        "id": "4301a516016525b7",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 50,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "FEC",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "17",
        "color": "#ffffff",
        "x": 690,
        "y": 840,
        "wires": []
    },
    {
        "id": "d26972d34559fd63",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 880,
        "wires": [
            [
                "a252d32151c887e4",
                "295347c7270ee5f9"
            ]
        ]
    },
    {
        "id": "a252d32151c887e4",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 55,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "FECMode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "17",
        "color": "#ffffff",
        "x": 700,
        "y": 920,
        "wires": []
    },
    {
        "id": "1969a0cddc042f2e",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "FecMode",
        "tooltip": "",
        "place": "Select option",
        "group": "406afa738005f2e6",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "fixed",
                "value": "fixed",
                "type": "str"
            },
            {
                "label": "variable",
                "value": "variable",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1200,
        "y": 820,
        "wires": [
            [
                "152082051caa1d1d"
            ]
        ]
    },
    {
        "id": "a27d9eec9ce16ab7",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: mute",
        "func": "let mute =msg.payload\nglobal.set(\"mute\", mute)\nmsg.mute_kleur=\"green\"\nif (mute === 0){\n    msg.mute_kleur=\"red\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1280,
        "wires": [
            [
                "f0c209e940860820"
            ]
        ]
    },
    {
        "id": "c140f8f622e33238",
        "type": "status",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "scope": [
            "347c8041af1a52e0"
        ],
        "x": 1160,
        "y": 140,
        "wires": [
            [
                "b2786302ea5b87d8"
            ]
        ]
    },
    {
        "id": "b2786302ea5b87d8",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Pluto connection status",
        "func": "let status=msg.status.text;\nlet fill = msg.status.fill;\nlet human_status;\nif (status == \"node-red:common.status.connecting\") {\n    human_status = \"Connecting\"\n}\nif (status == \"node-red:common.status.connected\") {\n    human_status = \"Connected\"\n}\nif (status == \"node-red:common.status.disconnected\") {\n    human_status = \"Disconnected\"\n}\nif (fill == \"yellow\") {\n    msg.achtergrond_kleur = \"black\"\n}\nif (fill == \"green\") {\n    msg.achtergrond_kleur = \"white\"\n}\nif (fill == \"red\") {\n    msg.achtergrond_kleur = \"white\"\n}\nmsg.human_status=human_status;\nmsg.kleur = fill;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 140,
        "wires": [
            [
                "8105dd1d410bdd4b"
            ]
        ]
    },
    {
        "id": "8105dd1d410bdd4b",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{human_status}}",
        "tooltip": "",
        "color": "{{achtergrond_kleur}}",
        "bgcolor": "{{kleur}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1550,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "508ff50f2a470219",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 23,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "Stop transmission",
        "color": "",
        "bgcolor": "{{stop_button_color}}",
        "className": "",
        "icon": "{{animo}}",
        "payload": "1",
        "payloadType": "num",
        "topic": "payload",
        "topicType": "msg",
        "x": 1390,
        "y": 1320,
        "wires": [
            [
                "4245872bb9518343"
            ]
        ]
    },
    {
        "id": "f0c209e940860820",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 18,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Start",
        "tooltip": "Start transmission",
        "color": "",
        "bgcolor": "{{start_button_color}}",
        "className": "",
        "icon": "{{start_animation}}",
        "payload": "0",
        "payloadType": "num",
        "topic": "payload",
        "topicType": "msg",
        "x": 1390,
        "y": 1280,
        "wires": [
            [
                "0ceccbf10dbcc8af",
                "af45e1bfc3e75ecb"
            ]
        ]
    },
    {
        "id": "0ceccbf10dbcc8af",
        "type": "change",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Tx start color changer: Green",
        "rules": [
            {
                "t": "set",
                "p": "start_button_color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "start_animation",
                "pt": "msg",
                "to": "fa-spinner fa-spin fa-2x",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "stop_button_color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 1220,
        "wires": [
            [
                "f0c209e940860820",
                "508ff50f2a470219"
            ]
        ]
    },
    {
        "id": "4245872bb9518343",
        "type": "change",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Tx stop color changer: Red",
        "rules": [
            {
                "t": "set",
                "p": "start_animation",
                "pt": "msg",
                "to": "fa-hand-paper-o fa-2x",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "start_button_color",
                "pt": "msg",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "stop_button_color",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 1380,
        "wires": [
            [
                "f0c209e940860820",
                "508ff50f2a470219",
                "aa4a256618f7c4a6"
            ]
        ]
    },
    {
        "id": "43c746e7299a60f3",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "group": "9ed1d9a126995072",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Pluto",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1150,
        "y": 200,
        "wires": []
    },
    {
        "id": "b601d6596401a754",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1400,
        "wires": [
            [
                "b6d03834b636d44d",
                "aeded232cbae2ef0",
                "2acfb18cb9db9a02"
            ]
        ]
    },
    {
        "id": "b6d03834b636d44d",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "dcc9c17467f14364",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "BBframebuffer  Queue",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "1",
        "color": "#000000",
        "x": 740,
        "y": 1400,
        "wires": []
    },
    {
        "id": "af45e1bfc3e75ecb",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Mute OFF",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/mute`;\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 1280,
        "wires": [
            [
                "8a16f1f5708afd9e",
                "13470e8cc4c1ccc1"
            ]
        ]
    },
    {
        "id": "55bca069bdb08ee7",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Mute ON",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/mute`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1940,
        "y": 1380,
        "wires": [
            [
                "8a16f1f5708afd9e",
                "cea22274822556fb"
            ]
        ]
    },
    {
        "id": "644c4e9fd6d1aafc",
        "type": "ui_text_input",
        "z": "2ec6a7ddfe0cd173",
        "name": "",
        "label": "Call name",
        "tooltip": "",
        "group": "9ed1d9a126995072",
        "order": 11,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "500",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "33b1db5a2a8af09d"
            ]
        ]
    },
    {
        "id": "8a010d663bca0dd9",
        "type": "debug",
        "z": "2ec6a7ddfe0cd173",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "33b1db5a2a8af09d",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "name": "",
        "func": "let callsign = msg.payload\nglobal.set(\"call\", callsign);\nglobal.set(\"cmdPath\", `cmd/pluto/${callsign}`)\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 60,
        "wires": [
            [
                "8a010d663bca0dd9",
                "d876bbde0d078d55"
            ]
        ]
    },
    {
        "id": "d876bbde0d078d55",
        "type": "file",
        "z": "2ec6a7ddfe0cd173",
        "name": "",
        "filename": "./mycall",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 760,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f6a74f531b445a4c",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "name": "",
        "filename": "./mycall",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 220,
        "y": 60,
        "wires": [
            [
                "644c4e9fd6d1aafc"
            ]
        ]
    },
    {
        "id": "3729f57de4a75fbf",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "f6a74f531b445a4c"
            ]
        ]
    },
    {
        "id": "9cea687107707a6b",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Mute",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/mute\"\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1280,
        "wires": [
            [
                "36a9e71117a34327"
            ]
        ]
    },
    {
        "id": "50bf46056b71ec3a",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "9cea687107707a6b",
                "5d39969ea562b92d",
                "18b3a285bc3b304a",
                "59e507f64ad42e32",
                "4ddefda4dc462586",
                "a3b043862df5d1c9",
                "203d8eabee6242e7",
                "33155f6018ceeffa",
                "96d158d7fdc5ee78",
                "9fb89f4342f8baf0",
                "91114b46796f2205",
                "8bcc3bb6537a078d",
                "2e28b17c64c14184",
                "04d27b36a3ee9934",
                "0b6d33db8fc071c9",
                "8e34088eda2b7263",
                "c44d0cb54ec5e706",
                "ac88fa94a49129ec"
            ]
        ]
    },
    {
        "id": "5d39969ea562b92d",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Mode",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/stream/mode\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1200,
        "wires": [
            [
                "306b57e47411d35c"
            ]
        ]
    },
    {
        "id": "152082051caa1d1d",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: FecMode",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/fecmode`;\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 820,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "18b3a285bc3b304a",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "FecMode",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/fecmode\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 880,
        "wires": [
            [
                "d26972d34559fd63"
            ]
        ]
    },
    {
        "id": "59e507f64ad42e32",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Gain",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/gain\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 960,
        "wires": [
            [
                "d2b51c2f7d254def"
            ]
        ]
    },
    {
        "id": "37b18a222ae30d52",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Gain",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/gain`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 960,
        "wires": [
            [
                "8a16f1f5708afd9e",
                "c86fe263aa4ec386"
            ]
        ]
    },
    {
        "id": "cec2f56be1fccf51",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Fec",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/fec`;\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 760,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "89b95ad3b6453036",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: SampleRate",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/sr`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 1120,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "807128449158f2eb",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Frequency",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/frequency`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1020,
        "wires": [
            [
                "8a16f1f5708afd9e",
                "05674316d3d8cdd1"
            ]
        ]
    },
    {
        "id": "edf4a8f5daf0b0ab",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Stream Mode",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/stream/mode`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1180,
        "wires": [
            [
                "8a16f1f5708afd9e",
                "8a4b0bf69ca74873"
            ]
        ]
    },
    {
        "id": "4ddefda4dc462586",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Fec",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/fec\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 800,
        "wires": [
            [
                "9aa8ef50bbbe8e2d"
            ]
        ]
    },
    {
        "id": "a3b043862df5d1c9",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Frequency",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/frequency\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1040,
        "wires": [
            [
                "45967ab8c3bd9a21"
            ]
        ]
    },
    {
        "id": "203d8eabee6242e7",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Samplerate",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/sr\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "23773127332c2b1f"
            ]
        ]
    },
    {
        "id": "33155f6018ceeffa",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Queu",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/queue\"\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1400,
        "wires": [
            [
                "b601d6596401a754"
            ]
        ]
    },
    {
        "id": "f38c438a231661c6",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "Constellation",
        "tooltip": "",
        "place": "Select option",
        "group": "4f22c4dbc8bc16dd",
        "order": 17,
        "width": 9,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "qpsk",
                "value": "qpsk",
                "type": "str"
            },
            {
                "label": "8psk",
                "value": "8psk",
                "type": "str"
            },
            {
                "label": "16apsk",
                "value": "16apsk",
                "type": "str"
            },
            {
                "label": "32apsk",
                "value": "32apsk",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1210,
        "y": 1440,
        "wires": [
            [
                "c5ceed661f8529ce"
            ]
        ]
    },
    {
        "id": "c5ceed661f8529ce",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Constellation",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/constel`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1440,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "7a4a8d639646cff4",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1480,
        "wires": [
            [
                "acbc87cefb97b581",
                "45ea934ddc9664a3"
            ]
        ]
    },
    {
        "id": "acbc87cefb97b581",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 58,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Constellation",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 710,
        "y": 1520,
        "wires": []
    },
    {
        "id": "96d158d7fdc5ee78",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Constellation",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/constel\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1480,
        "wires": [
            [
                "7a4a8d639646cff4"
            ]
        ]
    },
    {
        "id": "746af9f95f7438cd",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1560,
        "wires": [
            [
                "3151643ca739182e",
                "12de00c45ec62557"
            ]
        ]
    },
    {
        "id": "3151643ca739182e",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 65,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Frame",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 1600,
        "wires": []
    },
    {
        "id": "9fb89f4342f8baf0",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "frame",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/frame\"\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1560,
        "wires": [
            [
                "746af9f95f7438cd"
            ]
        ]
    },
    {
        "id": "e2ddf0eaa1468069",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1640,
        "wires": [
            [
                "be979e81cb1cfd53",
                "ae61c1e19f8634d0"
            ]
        ]
    },
    {
        "id": "be979e81cb1cfd53",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 63,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pilots",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 1680,
        "wires": []
    },
    {
        "id": "91114b46796f2205",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Pilots",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/pilots\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1640,
        "wires": [
            [
                "e2ddf0eaa1468069"
            ]
        ]
    },
    {
        "id": "ce96de0f7dba91c5",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "Frame",
        "tooltip": "",
        "place": "Select option",
        "group": "406afa738005f2e6",
        "order": 14,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "short",
                "value": "short",
                "type": "str"
            },
            {
                "label": "long",
                "value": "long",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1190,
        "y": 1520,
        "wires": [
            [
                "0c74362e749bcdc4"
            ]
        ]
    },
    {
        "id": "0c74362e749bcdc4",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Frame",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/frame`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 1520,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "16a3685e614e0995",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "Pilots",
        "tooltip": "",
        "place": "Select option",
        "group": "406afa738005f2e6",
        "order": 7,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "off",
                "value": "0",
                "type": "str"
            },
            {
                "label": "on",
                "value": "1",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1190,
        "y": 1600,
        "wires": [
            [
                "4a50af4869a33baa"
            ]
        ]
    },
    {
        "id": "4a50af4869a33baa",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Pilots",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/pilots`;\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1600,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "f2453c932edfdf06",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "1d6ea1c9ce542926",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 79,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Reset TX Settings",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "6707b23b38080a71",
                "8305a6ab021ac648"
            ]
        ]
    },
    {
        "id": "6707b23b38080a71",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "1d6ea1c9ce542926",
        "name": "Set default TX gain",
        "func": "msg.payload= \"-25\"\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 480,
        "wires": [
            [
                "37b18a222ae30d52"
            ]
        ]
    },
    {
        "id": "14e5a286770d3cd0",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Reboot",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/system/reboot`;\nmsg.topic = topic\nmsg.payload = payload\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 700,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "0d6f171d50f0a0c3",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Reboot Pluto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "payload",
        "topicType": "msg",
        "x": 1210,
        "y": 700,
        "wires": [
            [
                "14e5a286770d3cd0"
            ]
        ]
    },
    {
        "id": "aeded232cbae2ef0",
        "type": "ui_chart",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "group": "dcc9c17467f14364",
        "order": 6,
        "width": 9,
        "height": 4,
        "label": "Queue",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "4dc0d6bc0972a150",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1720,
        "wires": [
            [
                "5969ebe7bc4ebaf9",
                "8a6e91746db5e484"
            ]
        ]
    },
    {
        "id": "5969ebe7bc4ebaf9",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 68,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Gain Variable",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 720,
        "y": 1760,
        "wires": []
    },
    {
        "id": "8bcc3bb6537a078d",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Gain Variable",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/gainvariable\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1720,
        "wires": [
            [
                "4dc0d6bc0972a150"
            ]
        ]
    },
    {
        "id": "70cb26f62de94a5d",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "Variable_gain",
        "tooltip": "",
        "place": "Select option",
        "group": "406afa738005f2e6",
        "order": 12,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "on",
                "value": 1,
                "type": "num"
            },
            {
                "label": "off",
                "value": 0,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1220,
        "y": 1680,
        "wires": [
            [
                "b1b6fc76c723e0f1"
            ]
        ]
    },
    {
        "id": "b1b6fc76c723e0f1",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Gain variable",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/gainvariable`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1680,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "56ad120991eb3c83",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1800,
        "wires": [
            [
                "97406770f0c5c44d",
                "31eb287a0ca0a45c"
            ]
        ]
    },
    {
        "id": "97406770f0c5c44d",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 70,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "TS Source mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 730,
        "y": 1840,
        "wires": []
    },
    {
        "id": "2e28b17c64c14184",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "TS Source Mode",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/tssourcemode\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1800,
        "wires": [
            [
                "56ad120991eb3c83"
            ]
        ]
    },
    {
        "id": "93d8b2c69bdc7792",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "TS Source mode",
        "tooltip": "",
        "place": "Select option",
        "group": "406afa738005f2e6",
        "order": 17,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "TS IP",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Pattern",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1230,
        "y": 1760,
        "wires": [
            [
                "7b06e3153449eb9a"
            ]
        ]
    },
    {
        "id": "7b06e3153449eb9a",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: TsSourceMode",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/tssourcemode`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1760,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "7c53b9187416bf54",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ZS1SCI",
        "payloadType": "str",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "b56e0ed724bfefc0"
            ]
        ]
    },
    {
        "id": "b56e0ed724bfefc0",
        "type": "mqtt out",
        "z": "2ec6a7ddfe0cd173",
        "name": "",
        "topic": "cmd/pluto/call",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16855981254e7e93",
        "x": 340,
        "y": 100,
        "wires": []
    },
    {
        "id": "c6c7b77c513dc67d",
        "type": "mqtt out",
        "z": "2ec6a7ddfe0cd173",
        "g": "162c77371bb6c962",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "16855981254e7e93",
        "x": 2950,
        "y": 380,
        "wires": []
    },
    {
        "id": "7f859a7a7ee27404",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "162c77371bb6c962",
        "name": "Pass to Pluto",
        "func": "let run = msg.payload\nlet topic = \"cmd/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/tssourceaddress\"\nmsg.topic = topic\nmsg.payload = run\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2750,
        "y": 380,
        "wires": [
            [
                "c6c7b77c513dc67d"
            ]
        ]
    },
    {
        "id": "45b5b704879d30fe",
        "type": "ui_text_input",
        "z": "2ec6a7ddfe0cd173",
        "g": "162c77371bb6c962",
        "name": "",
        "label": "TSInput",
        "tooltip": "",
        "group": "9ed1d9a126995072",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "500",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 2420,
        "y": 240,
        "wires": [
            [
                "9335bff762d93722",
                "64b6e4713fac94bf",
                "7f859a7a7ee27404"
            ]
        ]
    },
    {
        "id": "139c2af2cc88bd80",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "g": "162c77371bb6c962",
        "name": "",
        "filename": "./tssourceaddress",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2570,
        "y": 160,
        "wires": [
            [
                "45b5b704879d30fe"
            ]
        ]
    },
    {
        "id": "9335bff762d93722",
        "type": "file",
        "z": "2ec6a7ddfe0cd173",
        "g": "162c77371bb6c962",
        "name": "",
        "filename": "./tssourceaddress",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2970,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "680e1065a1131216",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "g": "162c77371bb6c962",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 2390,
        "y": 160,
        "wires": [
            [
                "139c2af2cc88bd80"
            ]
        ]
    },
    {
        "id": "64b6e4713fac94bf",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "162c77371bb6c962",
        "name": "global TSsourceaddress",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"tssourceaddress\")){\n    global.set(\"tssourceaddress\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2950,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "33a0bcca85522580",
        "type": "ui_dropdown",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "FEC Range",
        "tooltip": "",
        "place": "Select option",
        "group": "406afa738005f2e6",
        "order": 9,
        "width": 8,
        "height": 1,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3",
                "value": 3,
                "type": "num"
            },
            {
                "label": "4",
                "value": 4,
                "type": "num"
            },
            {
                "label": "5",
                "value": 5,
                "type": "num"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": 7,
                "type": "num"
            },
            {
                "label": "8",
                "value": 8,
                "type": "num"
            },
            {
                "label": "9",
                "value": 9,
                "type": "num"
            },
            {
                "label": "10",
                "value": 10,
                "type": "num"
            },
            {
                "label": "11",
                "value": 11,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1210,
        "y": 1840,
        "wires": [
            [
                "d533bf0f097fedc4"
            ]
        ]
    },
    {
        "id": "d533bf0f097fedc4",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: FEC Range variable",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/fecrange`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1840,
        "wires": [
            [
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "04d27b36a3ee9934",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "FEC Range",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/fecrange\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1880,
        "wires": [
            [
                "76bed5f0ebc81a4c"
            ]
        ]
    },
    {
        "id": "76bed5f0ebc81a4c",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1880,
        "wires": [
            [
                "ffdc2abacd936657",
                "508bccc9de4506fc"
            ]
        ]
    },
    {
        "id": "ffdc2abacd936657",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 60,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "FEC Range",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 1920,
        "wires": []
    },
    {
        "id": "44d0cb3657f978dd",
        "type": "ui_slider",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "Set Frequency cont.",
        "tooltip": "",
        "group": "9ed1d9a126995072",
        "order": 26,
        "width": 17,
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "2403250000",
        "max": "2409750000",
        "step": "1000",
        "className": "",
        "x": 1240,
        "y": 1020,
        "wires": [
            [
                "807128449158f2eb"
            ]
        ]
    },
    {
        "id": "bdfdc40f3409d5eb",
        "type": "ui_slider",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9ed1d9a126995072",
        "order": 30,
        "width": 8,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "str",
        "min": "-50000",
        "max": "50000",
        "step": "250",
        "className": "",
        "x": 1650,
        "y": 260,
        "wires": [
            [
                "5af92414e3f29873"
            ]
        ]
    },
    {
        "id": "b6f1e8e864f6acb1",
        "type": "file",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./nco",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1810,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5af92414e3f29873",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "NCO",
        "func": "let payload = msg.payload;\nlet topic = `${global.get(\"cmdPath\")}/tx/nco`;\nmsg.topic = topic;\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 360,
        "wires": [
            [
                "b6f1e8e864f6acb1",
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "e6138b2b0fe03b94",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./nco",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1430,
        "y": 200,
        "wires": [
            [
                "bdfdc40f3409d5eb"
            ]
        ]
    },
    {
        "id": "25a924b7dc1d4576",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 720,
        "wires": [
            [
                "689b33376ddc8653"
            ]
        ]
    },
    {
        "id": "c25d1cacc8057d1d",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 29,
        "width": 3,
        "height": 1,
        "name": "NCO (Hz)",
        "label": "",
        "format": "NCO {{msg.payload}} Hz",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "17",
        "color": "#ffffff",
        "x": 740,
        "y": 760,
        "wires": []
    },
    {
        "id": "0b6d33db8fc071c9",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "NCO",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/nco\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 720,
        "wires": [
            [
                "25a924b7dc1d4576"
            ]
        ]
    },
    {
        "id": "ba963a5480a22fc5",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 31,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Reset NCO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1630,
        "y": 200,
        "wires": [
            [
                "bdfdc40f3409d5eb"
            ]
        ]
    },
    {
        "id": "462c1bee49073de7",
        "type": "ui_slider",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "TX Digital Gain",
        "label": "",
        "tooltip": "",
        "group": "9ed1d9a126995072",
        "order": 37,
        "width": 10,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": "-20",
        "max": "3",
        "step": "0.01",
        "className": "",
        "x": 1220,
        "y": 640,
        "wires": [
            [
                "e91e846502f35c90"
            ]
        ]
    },
    {
        "id": "e91e846502f35c90",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Send: Digital Gain when not is pass mode...",
        "func": "let payload = msg.payload;\n// We cannot send digital gain in pass mode...\nif(global.get(\"mode\") === \"pass\") return;\nlet topic = `${global.get(\"cmdPath\")}/tx/dvbs2/digitalgain`\nmsg.topic = topic\nmsg.payload = payload;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1690,
        "y": 560,
        "wires": [
            [
                "05fd121d8c4be283",
                "8a16f1f5708afd9e"
            ]
        ]
    },
    {
        "id": "ac88fa94a49129ec",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Digital Gain",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/digitalgain\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 640,
        "wires": [
            [
                "347c8041af1a52e0"
            ]
        ]
    },
    {
        "id": "347c8041af1a52e0",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "mqtt dg",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 270,
        "y": 640,
        "wires": [
            [
                "92bdb03cfb54e314",
                "4b23c7a819f12eb7"
            ]
        ]
    },
    {
        "id": "92bdb03cfb54e314",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 36,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "Digital Gain",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "17",
        "color": "#ffffff",
        "x": 710,
        "y": 680,
        "wires": []
    },
    {
        "id": "8305a6ab021ac648",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "1d6ea1c9ce542926",
        "name": "Set default Digital TX gain",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 440,
        "wires": [
            [
                "e91e846502f35c90"
            ]
        ]
    },
    {
        "id": "5f71534b6c02e324",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "+dBm",
        "group": "9ed1d9a126995072",
        "order": 45,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "+",
        "tooltip": "+0.25dB",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "gain",
        "payloadType": "global",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 880,
        "wires": [
            [
                "88c17ad9f892b06d"
            ]
        ]
    },
    {
        "id": "f29b8d8eb8441fde",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "-dBm",
        "group": "9ed1d9a126995072",
        "order": 44,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "-",
        "tooltip": "-0.25dB",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "gain",
        "payloadType": "global",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 920,
        "wires": [
            [
                "b6da9101dce07fd1"
            ]
        ]
    },
    {
        "id": "88c17ad9f892b06d",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Increase Gain",
        "func": "let currentGain = msg.payload;\nlet uppedGain = parseFloat(currentGain) + 0.25;\nmsg.payload = uppedGain.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 880,
        "wires": [
            [
                "37b18a222ae30d52"
            ]
        ]
    },
    {
        "id": "b6da9101dce07fd1",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Decrease Gain",
        "func": "let currentGain = msg.payload;\nlet downedGain = parseFloat(currentGain) - 0.25;\nmsg.payload = downedGain;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 920,
        "wires": [
            [
                "be4a04a5a054f988",
                "37b18a222ae30d52"
            ]
        ]
    },
    {
        "id": "54cbda477035a37f",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: gain",
        "func": "var payload = parseFloat(msg.payload).toFixed(2);\nif (payload !== global.get(\"device.GAIN\")){\n    global.set(\"gain\", payload);\n    global.set(\"device.GAIN\", payload);\n    global.set(\"settings.GAIN\", payload);\n    msg.payload = payload;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 960,
        "wires": [
            [
                "be4a04a5a054f988",
                "18d422fe182d6186"
            ]
        ]
    },
    {
        "id": "295347c7270ee5f9",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: fecmode",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"fecmode\")){\n    global.set(\"fecmode\", payload);\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 880,
        "wires": [
            [
                "1969a0cddc042f2e"
            ]
        ]
    },
    {
        "id": "689b33376ddc8653",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: nco",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"nco\")){\n    global.set(\"nco\", payload );\n    msg.payload = payload;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 720,
        "wires": [
            [
                "c25d1cacc8057d1d"
            ]
        ]
    },
    {
        "id": "4b23c7a819f12eb7",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: digitalgain",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"digitalgain\")){\n    global.set(\"digitalgain\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 640,
        "wires": [
            [
                "462c1bee49073de7"
            ]
        ]
    },
    {
        "id": "e0f5c4a53f48610b",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: fec",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"fec\")){\n    global.set(\"fec\", payload);\n    global.set(\"device.FEC\", payload);\n    global.set(\"settings.FEC\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 800,
        "wires": [
            [
                "ddf60892397fbc68",
                "243912e6844661ae"
            ]
        ]
    },
    {
        "id": "8ec0b8acdb25a6b7",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: frequency",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"frequency\")) {\n    global.set(\"frequency\", payload);\n    global.set(\"device.frequency\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1040,
        "wires": [
            [
                "44d0cb3657f978dd"
            ]
        ]
    },
    {
        "id": "1cc9bf09772f06d3",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: sr",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"sr\")){\n    global.set(\"sr\", payload);\n    global.set(\"device.SR\", payload);\n    global.set(\"settings.SR\", payload/1000);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1120,
        "wires": [
            [
                "aa6d588a480f161c",
                "243912e6844661ae"
            ]
        ]
    },
    {
        "id": "54e338fa6a48fd5b",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: mode",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"mode\")){\n    global.set(\"mode\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1200,
        "wires": [
            [
                "2e677684d13ac6e0"
            ]
        ]
    },
    {
        "id": "45ea934ddc9664a3",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: constel",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"device.Constel\")){\n    global.set(\"device.Constel\", payload);\n    global.set(\"settings.MODE\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1480,
        "wires": [
            [
                "f38c438a231661c6",
                "243912e6844661ae"
            ]
        ]
    },
    {
        "id": "12de00c45ec62557",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: frame",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"frame\")){\n    global.set(\"frame\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1560,
        "wires": [
            [
                "ce96de0f7dba91c5"
            ]
        ]
    },
    {
        "id": "ae61c1e19f8634d0",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: pilots",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"pilots\")){\n    global.set(\"pilots\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1640,
        "wires": [
            [
                "16a3685e614e0995"
            ]
        ]
    },
    {
        "id": "8a6e91746db5e484",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: gainvariable",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"gainvariable\")){\n    global.set(\"gainvariable\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1720,
        "wires": [
            [
                "70cb26f62de94a5d"
            ]
        ]
    },
    {
        "id": "31eb287a0ca0a45c",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: tssourcemode",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"tssourcemode\")){\n    global.set(\"tssourcemode\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1800,
        "wires": [
            [
                "93d8b2c69bdc7792"
            ]
        ]
    },
    {
        "id": "508bccc9de4506fc",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: fecrange",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"fecrange\")){\n    global.set(\"fecrange\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1880,
        "wires": [
            [
                "33a0bcca85522580"
            ]
        ]
    },
    {
        "id": "c157ba62f082ca1f",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat 125KS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Load 125KS",
        "x": 2990,
        "y": 620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "264a75ae81fe9571",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat 250KS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Load 250KS",
        "x": 2990,
        "y": 740,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "ecd6781e5be6e360",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat 333KS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Load 333KS",
        "x": 2990,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e41f78ecb41096ea",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "250KS",
        "group": "a1d06162a1de7754",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "250KS {{pid5}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p5_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 740,
        "wires": [
            [
                "a0b7e955594b3ab5"
            ]
        ]
    },
    {
        "id": "26d4847d4e66ef33",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "333KS",
        "group": "a1d06162a1de7754",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "333KS {{pid6}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p6_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 800,
        "wires": [
            [
                "d8a30908a8d1d05a"
            ]
        ]
    },
    {
        "id": "6bdd18a478266cdb",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "125KS",
        "group": "a1d06162a1de7754",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "125 KS {{pid3}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p3_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 620,
        "wires": [
            [
                "8f75f111bea67d19"
            ]
        ]
    },
    {
        "id": "873a04942564e509",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "d": true,
        "g": "e6bb4e6e08658367",
        "command": "taskkill /T /F /IM MQTT-Explorer-0.4.0-beta1.exe",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "kill MQTT Explorer",
        "x": 3010,
        "y": 1140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c4c1592e68a08ac2",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Terminal Profile",
        "group": "a1d06162a1de7754",
        "order": 18,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "STOP PROC",
        "tooltip": "Kill ffmpeg steaming process",
        "color": "",
        "bgcolor": "Darkred",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2440,
        "y": 1060,
        "wires": [
            [
                "0c94d661261c1f6e",
                "4245872bb9518343"
            ]
        ]
    },
    {
        "id": "be766117a7d2334f",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "d": true,
        "g": "e6bb4e6e08658367",
        "command": "taskkill /F /FI \"WINDOWTITLE eq CONTROL*\"",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "kill CONTROL",
        "x": 3000,
        "y": 1080,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5c8e87753e4ad083",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "taskkill /T /F /IM ffmpeg.exe",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "kill ffmpeg",
        "x": 2980,
        "y": 1020,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "923832cf30d7070e",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "taskkill /F /PID ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Kill NodeRed PID",
        "x": 3010,
        "y": 1200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0024149327ace021",
        "type": "status",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "scope": [
            "c157ba62f082ca1f",
            "264a75ae81fe9571",
            "ecd6781e5be6e360",
            "be04ba7a44aed070",
            "12df56e883c6693d",
            "f79f4059793d2fec",
            "8090b79c8e35900b",
            "b5ed5a8ccff72343",
            "45c2428c04be0e5f"
        ],
        "x": 1880,
        "y": 460,
        "wires": [
            [
                "a6736166225853ff"
            ]
        ]
    },
    {
        "id": "b733d75a1c79f1a2",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 550,
        "y": 1980,
        "wires": [
            [
                "c8042db5402565df",
                "e1cd38d2156ae7ba"
            ]
        ]
    },
    {
        "id": "c8042db5402565df",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 6,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "TS Addr",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 690,
        "y": 2020,
        "wires": []
    },
    {
        "id": "8e34088eda2b7263",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "TS Address",
        "func": "msg.action = \"subscribe\"\nmsg.topic=\"dt/pluto/\" + global.get(\"call\")+ \"/tx/dvbs2/tssourceaddress\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1980,
        "wires": [
            [
                "b733d75a1c79f1a2"
            ]
        ]
    },
    {
        "id": "e1cd38d2156ae7ba",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: tssourceaddress",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"tssourceaddress\")){\n    global.set(\"tssourceaddress\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "a6736166225853ff",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Update Active Profile Button",
        "func": "let status = msg.status.text;\nlet fill = msg.status.fill;\nlet source = msg.status.source.name;\nmsg.p1_color = \"\";\nmsg.pid1 = \"\";\nmsg.p2_color = \"\";\nmsg.pid2 = \"\";\nmsg.p3_color = \"\";\nmsg.pid3 = \"\";\nmsg.p4_color = \"\";\nmsg.pid4 = \"\";\nmsg.p5_color = \"\";\nmsg.pid5 = \"\";\nmsg.p6_color = \"\";\nmsg.pid6 = \"\";\nmsg.p7_color = \"\";\nmsg.pid7 = \"\";\nmsg.p8_color = \"\";\nmsg.pid8 = \"\";\nmsg.p9_color = \"\";\nmsg.pid9 = \"\";\nif (msg.status.text === \"error:1\" || msg.status.text === \"rc:1\") {\n    msg.command = \"stop\";\n    return msg;\n}\nmsg.p1_color = \"gray\";\nmsg.p2_color = \"gray\";\nmsg.p3_color = \"gray\";\nmsg.p4_color = \"gray\";\nmsg.p5_color = \"gray\";\nmsg.p6_color = \"gray\";\nmsg.p7_color = \"gray\";\nmsg.p8_color = \"gray\";\nmsg.p9_color = \"gray\";\nif (msg.status.text) {\n    let pid = msg.status.text.split(':');\n    msg.command = \"start\";\n    switch (source) {\n        case \"Load 33KS\":\n            msg.pid1 = `PID: ${pid[1]}`;\n            msg.p1_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 66KS\":\n            msg.pid2 = `PID: ${pid[1]}`;\n            msg.p2_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 125KS\":\n            msg.pid3 = `PID: ${pid[1]}`;\n            msg.p3_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load last run\":\n            msg.pid4 = `PID: ${pid[1]}`;\n            msg.p4_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 250KS\":\n            msg.pid5 = `PID: ${pid[1]}`;\n            msg.p5_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 333KS\":\n            msg.pid6 = `PID: ${pid[1]}`;\n            msg.p6_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 500KS\":\n            msg.pid7 = `PID: ${pid[1]}`;\n            msg.p7_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load 1000KS\":\n            msg.pid8 = `PID: ${pid[1]}`;\n            msg.p8_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n        case \"Load custom\":\n            msg.pid9 = `PID: ${pid[1]}`;\n            msg.p9_color = \"green\";\n            global.set(\"pid\", pid[1]);\n            global.set(\"ProfileButtonsActive\", true);\n            return msg;\n    }\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2040,
        "y": 560,
        "wires": [
            [
                "6bdd18a478266cdb",
                "e41f78ecb41096ea",
                "26d4847d4e66ef33",
                "4f5692cf8cb6b8dd",
                "b12e26636bc4a755",
                "4ecaf72037fc5448",
                "37c0f70c56da77c5",
                "321917da5c241be6",
                "6f5791e469edab55",
                "26fb093b23e3a621"
            ]
        ]
    },
    {
        "id": "4d9019e6505648e5",
        "type": "comment",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Process kill commands would differ on Linux",
        "info": "",
        "x": 2690,
        "y": 1020,
        "wires": []
    },
    {
        "id": "be04ba7a44aed070",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat LastRun",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Load last run",
        "x": 2990,
        "y": 680,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4f5692cf8cb6b8dd",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Last Run",
        "group": "a1d06162a1de7754",
        "order": 17,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Last {{pid4}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p4_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2400,
        "y": 680,
        "wires": [
            [
                "1fcb391face6d380"
            ]
        ]
    },
    {
        "id": "2acfb18cb9db9a02",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: queue",
        "func": "var payload = parseInt(msg.payload);\nif (payload !== global.get(\"queue\")){\n    global.set(\"queue\", payload);\n}\nif (payload > 15) {\n    msg.payload = \"overflow\";\n    return msg;\n}\nif (payload > 0) {\n    msg.payload = \"nominal\";\n    return msg;\n}\n\nmsg.payload = \"underflow\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1360,
        "wires": [
            [
                "0813517cbc9b99f3"
            ]
        ]
    },
    {
        "id": "0813517cbc9b99f3",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "dcc9c17467f14364",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Buffer Health",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0c94d661261c1f6e",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "get active ffmpeg process id",
        "func": "let payload = msg.payload;\nif (payload === \"1\" && global.get(\"ProfileButtonsActive\")) {\n    msg.backgroundcolor = \"\";\n    let pid = global.get(\"pid\");\n    msg.payload = pid;\n    global.set(\"pid\", \"1\");\n    global.set(\"ProfileButtonsActive\", false)\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 1140,
        "wires": [
            [
                "923832cf30d7070e",
                "c4c1592e68a08ac2",
                "5c8e87753e4ad083",
                "be766117a7d2334f",
                "873a04942564e509"
            ]
        ]
    },
    {
        "id": "8f75f111bea67d19",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 620,
        "wires": [
            [
                "c157ba62f082ca1f"
            ]
        ]
    },
    {
        "id": "a0b7e955594b3ab5",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 740,
        "wires": [
            [
                "264a75ae81fe9571"
            ]
        ]
    },
    {
        "id": "d8a30908a8d1d05a",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 800,
        "wires": [
            [
                "ecd6781e5be6e360"
            ]
        ]
    },
    {
        "id": "1fcb391face6d380",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 680,
        "wires": [
            [
                "be04ba7a44aed070"
            ]
        ]
    },
    {
        "id": "c8c1c80d91c7c4b9",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "162c77371bb6c962",
        "name": "Get TSsourceaddress",
        "func": "let newAddress = msg.payload;\nmsg.payload = newAddress;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a9ad9994f8c5db3b",
        "type": "comment",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Set custom ffpmeg flags for libx265",
        "info": " - **-x265-params b-adapt=1**\n - **-tune zerolatency**\n",
        "x": 1980,
        "y": 140,
        "wires": []
    },
    {
        "id": "cea8ea667bfe40bc",
        "type": "comment",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Ensures only one ffmepg process",
        "info": "",
        "x": 2550,
        "y": 460,
        "wires": []
    },
    {
        "id": "8fc50c918238bbb1",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "props": [
            {
                "p": "start_animation",
                "v": "fa-hand-paper-o fa-2x",
                "vt": "str"
            },
            {
                "p": "button_color",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1190,
        "y": 1260,
        "wires": [
            [
                "f0c209e940860820"
            ]
        ]
    },
    {
        "id": "b12e26636bc4a755",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "500KS",
        "group": "a1d06162a1de7754",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "500KS {{pid7}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p7_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 860,
        "wires": [
            [
                "6629d1fde454917d"
            ]
        ]
    },
    {
        "id": "6629d1fde454917d",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 860,
        "wires": [
            [
                "12df56e883c6693d"
            ]
        ]
    },
    {
        "id": "12df56e883c6693d",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat 500KS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Load 500KS",
        "x": 2990,
        "y": 860,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4ecaf72037fc5448",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "1000KS",
        "group": "a1d06162a1de7754",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "1000KS {{pid8}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p8_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2400,
        "y": 920,
        "wires": [
            [
                "3a96d30a3b796a9c"
            ]
        ]
    },
    {
        "id": "3a96d30a3b796a9c",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 920,
        "wires": [
            [
                "f79f4059793d2fec"
            ]
        ]
    },
    {
        "id": "f79f4059793d2fec",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat 1000KS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Load 1000KS",
        "x": 3000,
        "y": 920,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "7e39412a746f70d4",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "props": [
            {
                "p": "animo",
                "v": "fa-stop-circle fa-2x",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1190,
        "y": 1320,
        "wires": [
            [
                "508ff50f2a470219"
            ]
        ]
    },
    {
        "id": "aa4a256618f7c4a6",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Only send if we are unmuted",
        "func": "if (parseInt(msg.payload) !== parseInt(global.get(\"mute\"))) {\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 1380,
        "wires": [
            [
                "55bca069bdb08ee7"
            ]
        ]
    },
    {
        "id": "0d83df21a3badfd8",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 73,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Open VLC 8888",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2420,
        "y": 980,
        "wires": [
            [
                "ba28f83345465e97"
            ]
        ]
    },
    {
        "id": "ba28f83345465e97",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "vlc_udp.xspf",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "VLC",
        "x": 3130,
        "y": 980,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "321917da5c241be6",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "66KS",
        "group": "a1d06162a1de7754",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "66KS {{pid2}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p2_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 560,
        "wires": [
            [
                "21a3b184d3613c7e"
            ]
        ]
    },
    {
        "id": "37c0f70c56da77c5",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "33KS",
        "group": "a1d06162a1de7754",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "33KS {{pid1}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p1_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2390,
        "y": 500,
        "wires": [
            [
                "863b303484773cde"
            ]
        ]
    },
    {
        "id": "21a3b184d3613c7e",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 560,
        "wires": [
            [
                "b5ed5a8ccff72343"
            ]
        ]
    },
    {
        "id": "863b303484773cde",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = global.get(\"lowLatency\");\n    return msg;;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 500,
        "wires": [
            [
                "8090b79c8e35900b"
            ]
        ]
    },
    {
        "id": "8090b79c8e35900b",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat 33KS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Load 33KS",
        "x": 2990,
        "y": 500,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b5ed5a8ccff72343",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat 66KS",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Load 66KS",
        "x": 2990,
        "y": 560,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c4f36ff7105c2dd1",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Global: temp",
        "func": "var payload = parseFloat(msg.payload)/1000;\nif (payload !== global.get(\"temp\") && payload > 0){\n    global.set(\"temp\", payload);\n    msg.payload = payload;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "4fd321bd9fa719f3"
            ]
        ]
    },
    {
        "id": "de949c9780005117",
        "type": "mqtt in",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "mqtt temp",
        "topic": "",
        "qos": "2",
        "datatype": "utf8",
        "broker": "16855981254e7e93",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 280,
        "y": 600,
        "wires": [
            [
                "c4f36ff7105c2dd1"
            ]
        ]
    },
    {
        "id": "c44d0cb54ec5e706",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "name": "Temperature",
        "func": "msg.action = \"subscribe\"\nmsg.topic = \"dt/pluto/\" + global.get(\"call\") + \"/temperature_ad\"\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 600,
        "wires": [
            [
                "de949c9780005117"
            ]
        ]
    },
    {
        "id": "4fd321bd9fa719f3",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "9c3a6dbecd18c092",
        "group": "9ed1d9a126995072",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "Pluto Temp",
        "label": "Tuner",
        "format": "{{msg.payload}}C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "17",
        "color": "#ffffff",
        "x": 630,
        "y": 600,
        "wires": []
    },
    {
        "id": "d860f0accbd4f141",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./frequency",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 1430,
        "y": 400,
        "wires": [
            [
                "807128449158f2eb"
            ]
        ]
    },
    {
        "id": "7d6077cea86f2378",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "RESTORE STATE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 300,
        "wires": [
            [
                "d860f0accbd4f141",
                "2b53743d597a8bd2",
                "fa40ea4c517a1f33",
                "8d1438b1aced373b",
                "da592dbb63826f5c",
                "e6138b2b0fe03b94"
            ]
        ]
    },
    {
        "id": "05674316d3d8cdd1",
        "type": "file",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./frequency",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1530,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "05fd121d8c4be283",
        "type": "file",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./digitalgain",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1710,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2b53743d597a8bd2",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./gain",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1410,
        "y": 320,
        "wires": [
            [
                "37b18a222ae30d52"
            ]
        ]
    },
    {
        "id": "b4aff87862b89a39",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "+dBm",
        "group": "9ed1d9a126995072",
        "order": 39,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "+",
        "tooltip": "+1dB",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "digitalgain",
        "payloadType": "global",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 560,
        "wires": [
            [
                "5d8a44d8d3dfd931"
            ]
        ]
    },
    {
        "id": "edd3123535a89e2c",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "-dBm",
        "group": "9ed1d9a126995072",
        "order": 38,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "-",
        "tooltip": "-1dB",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "digitalgain",
        "payloadType": "global",
        "topic": "topic",
        "topicType": "msg",
        "x": 1190,
        "y": 600,
        "wires": [
            [
                "33dc958065cdada2"
            ]
        ]
    },
    {
        "id": "5d8a44d8d3dfd931",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Increase Gain",
        "func": "let currentGain = msg.payload;\nlet uppedGain = parseFloat(currentGain) + 1;\nmsg.payload = uppedGain.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 560,
        "wires": [
            [
                "e91e846502f35c90"
            ]
        ]
    },
    {
        "id": "33dc958065cdada2",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Decrease Gain",
        "func": "let currentGain = msg.payload;\nlet downedGain = parseFloat(currentGain) - 1;\nmsg.payload = downedGain;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 600,
        "wires": [
            [
                "e91e846502f35c90"
            ]
        ]
    },
    {
        "id": "c86fe263aa4ec386",
        "type": "file",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./gain",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1590,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "fa40ea4c517a1f33",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./tssourceaddress",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1450,
        "y": 280,
        "wires": [
            [
                "7f859a7a7ee27404"
            ]
        ]
    },
    {
        "id": "ec7f7985e8da8ed2",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "d": true,
        "g": "e6bb4e6e08658367",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1770,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "9e5aaf4953afd279",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "d": true,
        "g": "e6bb4e6e08658367",
        "name": "Set low latency mode",
        "func": "var payload = msg.payload;\nif (payload !== global.get(\"lowLatency\")){\n    global.set(\"lowLatency\", payload);\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "8d1438b1aced373b",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./tsmode",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1420,
        "y": 440,
        "wires": [
            [
                "edf4a8f5daf0b0ab"
            ]
        ]
    },
    {
        "id": "8a4b0bf69ca74873",
        "type": "file",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./tsmode",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1640,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "da592dbb63826f5c",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "./digitalgain",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1430,
        "y": 360,
        "wires": [
            [
                "e91e846502f35c90"
            ]
        ]
    },
    {
        "id": "b9e877b123e7e841",
        "type": "comment",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "tsmode must be set, or else digital mode setting reboots pluto",
        "info": "",
        "x": 1320,
        "y": 240,
        "wires": []
    },
    {
        "id": "cea22274822556fb",
        "type": "change",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "set flow mute on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mute",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2080,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "13470e8cc4c1ccc1",
        "type": "change",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "set flow mute off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "mute",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "aee60236fea48d79",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "group": "dcc9c17467f14364",
        "order": 15,
        "width": 9,
        "height": 1,
        "name": "spacer_1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 400,
        "wires": []
    },
    {
        "id": "95d261161c65d78d",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "group": "9ed1d9a126995072",
        "order": 82,
        "width": 17,
        "height": 1,
        "name": "spacer_2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 480,
        "wires": []
    },
    {
        "id": "7266be4393838a8f",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "group": "a1d06162a1de7754",
        "order": 21,
        "width": 9,
        "height": 1,
        "name": "Spacer for Profile panel",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2130,
        "y": 500,
        "wires": []
    },
    {
        "id": "edc838b06d6511f4",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 2090,
        "y": 1060,
        "wires": [
            [
                "cde0b8f279bd036d"
            ]
        ]
    },
    {
        "id": "cde0b8f279bd036d",
        "type": "change",
        "z": "2ec6a7ddfe0cd173",
        "d": true,
        "g": "e6bb4e6e08658367",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pid",
                "pt": "global",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2210,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "bd7080b9d634eebf",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "DVBS GUI",
        "group": "9ed1d9a126995072",
        "order": 75,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "DVBS GUI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2410,
        "y": 1260,
        "wires": [
            [
                "e7122ff60e30d850"
            ]
        ]
    },
    {
        "id": "e7122ff60e30d850",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "dvbs_gui.lnk",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "DVB-S GUI",
        "x": 3130,
        "y": 1260,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3022dd981488dba6",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "group": "406afa738005f2e6",
        "order": 20,
        "width": 17,
        "height": 1,
        "name": "spacer_3",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1180,
        "y": 520,
        "wires": []
    },
    {
        "id": "6f5791e469edab55",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Custom profile",
        "group": "a1d06162a1de7754",
        "order": 16,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "CP {{pid9}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{p9_color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2400,
        "y": 1360,
        "wires": [
            [
                "932baa0f165b71a2"
            ]
        ]
    },
    {
        "id": "45c2428c04be0e5f",
        "type": "exec",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "command": "DATV-TX.bat custom ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Load custom",
        "x": 2910,
        "y": 1360,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "932baa0f165b71a2",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "ffmpeg process safegaurd",
        "func": "let ffmpegPID = global.get(\"pid\");\nif (ffmpegPID === \"1\" || ffmpegPID === undefined) {\n    msg.payload = `${parseInt(global.get(\"settings.SR\"))} ${global.get(\"settings.MODE\")} ${global.get(\"settings.FEC\")} ${global.get(\"settings.IMAGESIZE\")} ${global.get(\"settings.FPS\")} ${global.get(\"settings.AUDIO\")} ${global.get(\"settings.CODEC\")} ${global.get(\"settings.TSBITRATE\")} ${global.get(\"frequency\")} ${global.get(\"settings.VBITRATE\")} ${global.get(\"settings.ABITRATE\")} `;\n    return msg;\n}\nreturn;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2650,
        "y": 1360,
        "wires": [
            [
                "45c2428c04be0e5f"
            ]
        ]
    },
    {
        "id": "8c336280fd0fcc92",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Settings manager",
        "func": "let jsonSettings = global.get(\"settings\");\nmsg.payload = JSON.stringify(jsonSettings);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2150,
        "y": 240,
        "wires": [
            [
                "8751a0dd93a8ed60"
            ]
        ]
    },
    {
        "id": "8751a0dd93a8ed60",
        "type": "file",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "settings.json",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 2050,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "243912e6844661ae",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 77,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Save settings",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1860,
        "y": 200,
        "wires": [
            [
                "8c336280fd0fcc92",
                "ac482a3670a2a148"
            ]
        ]
    },
    {
        "id": "ac482a3670a2a148",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "function 2",
        "func": "let sr = parseInt(global.get(\"device.SR\")) / 1000;\nglobal.set(\"settings.SR\", sr);\nlet audioBitRate = parseInt(global.get(\"settings.ABITRATE\"));\nlet videoBitRate = 0;\n\nlet fec = global.get(\"device.FEC\");\nlet numerator = parseInt(fec.substr(0, 1));\nlet denominator = parseInt(fec.substr(2, 2));\nlet fecCalculated = numerator / denominator;\nlet constelMode =\n    global.get(\"device.Constel\") === \"qpsk\" ? 2 :\n        global.get(\"device.Constel\") === \"8psk\" ? 3 :\n            global.get(\"device.Constel\") === \"16apsk\" ? 4 :\n                5;\nlet qpskTsBitRate = constelMode * sr * 188 / 204 * fecCalculated * 1075 / 1000;\nglobal.set(\"settings.TSBITRATE\", qpskTsBitRate.toFixed(2));\nif (sr > 20 && sr < 36) {\n    videoBitRate = (1000 * qpskTsBitRate * 50 / 100 / 1000) - audioBitRate;\n}\nif (sr > 35 && sr < 67) {\n    videoBitRate = (1000 * qpskTsBitRate * 60 / 100 / 1000) - audioBitRate;\n}\nif (sr > 66 && sr < 126) {\n    videoBitRate = (1000 * qpskTsBitRate * 68 / 100 / 1000) - audioBitRate;\n}\nif (sr > 125 && sr < 251) {\n    videoBitRate = (1000 * qpskTsBitRate * 76 / 100 / 1000) - audioBitRate;\n}\nif (sr > 250 && sr < 334) {\n    videoBitRate = (1000 * qpskTsBitRate * 80 / 100 / 1000) - audioBitRate;\n}\nif (sr > 333 && sr < 501) {\n    videoBitRate = (1000 * qpskTsBitRate * 82 / 100 / 1000) - audioBitRate;\n}\nif (sr > 500 && sr < 1001) {\n    videoBitRate = (1000 * qpskTsBitRate * 86 / 100 / 1000) - audioBitRate;\n}\nif (sr > 1000 && sr < 1501) {\n    videoBitRate = (1000 * qpskTsBitRate * 87 / 100 / 1000) - audioBitRate;\n}\nif (sr > 1500 && sr < 3001) {\n    videoBitRate = (1000 * qpskTsBitRate * 87 / 100 / 1000) - audioBitRate;\n}\nmsg.payload = qpskTsBitRate.toFixed(2);\nglobal.set(\"settings.VBITRATE\", videoBitRate.toFixed(2));\nmsg.vidbr = videoBitRate.toFixed(2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 60,
        "wires": [
            [
                "5d929a20d665af8d",
                "23f54550ba5b6a79",
                "8c336280fd0fcc92"
            ]
        ]
    },
    {
        "id": "23f54550ba5b6a79",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "group": "4f22c4dbc8bc16dd",
        "order": 5,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "Video bitrate",
        "format": "{{msg.vidbr}} kb/s",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2390,
        "y": 40,
        "wires": []
    },
    {
        "id": "5d929a20d665af8d",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "group": "4f22c4dbc8bc16dd",
        "order": 2,
        "width": 9,
        "height": 1,
        "name": "",
        "label": "TS bitrate",
        "format": "{{msg.payload}} kb/s",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2380,
        "y": 80,
        "wires": []
    },
    {
        "id": "26fb093b23e3a621",
        "type": "hourglass",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "persistId": "",
        "humanizeLocale": "",
        "x": 2000,
        "y": 720,
        "wires": [
            [
                "57db37c4faa9e7f2",
                "f1c3eeafb1365330"
            ]
        ]
    },
    {
        "id": "86f5a4e13856dce4",
        "type": "ui_text",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "group": "a1d06162a1de7754",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Profile time",
        "format": "{{msg.payload}} s",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 2170,
        "y": 700,
        "wires": []
    },
    {
        "id": "2a88de9371c58247",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Timer status and reset",
        "func": "let imagesize = msg.payload;\nglobal.set(\"settings.IMAGESIZE\", imagesize.trim());\nif(global.get(\"ProfileButtonsActive\")){\n    msg.command = \"status\";\n    return msg;\n}\nif(global.get(\"started\")){\n    msg.command = \"reset\";\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 720,
        "wires": [
            [
                "26fb093b23e3a621"
            ]
        ]
    },
    {
        "id": "57db37c4faa9e7f2",
        "type": "change",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "started",
                "pt": "global",
                "to": "started",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f1c3eeafb1365330",
        "type": "calculator",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Milli to second",
        "inputMsgField": "elapsed.millis",
        "outputMsgField": "payload",
        "operation": "div",
        "constant": "1000",
        "round": true,
        "decimals": "0",
        "x": 2160,
        "y": 800,
        "wires": [
            [
                "86f5a4e13856dce4"
            ]
        ]
    },
    {
        "id": "d04e83af7fca53f0",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 2030,
        "y": 640,
        "wires": [
            [
                "86f5a4e13856dce4"
            ]
        ]
    },
    {
        "id": "2d16a7785c1bb3dd",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 33,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "+Hz",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1510,
        "y": 40,
        "wires": [
            [
                "68e079e44b9dd5c2"
            ]
        ]
    },
    {
        "id": "b019a1fc7eadfd0f",
        "type": "ui_button",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "group": "9ed1d9a126995072",
        "order": 32,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "-Hz",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1510,
        "y": 80,
        "wires": [
            [
                "524de1980547eaea"
            ]
        ]
    },
    {
        "id": "68e079e44b9dd5c2",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Increase nco",
        "func": "let currentNCO = global.get(\"nco\");\nlet uppedNCO = parseFloat(currentNCO) + 250;\nmsg.payload = uppedNCO.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 40,
        "wires": [
            [
                "5af92414e3f29873"
            ]
        ]
    },
    {
        "id": "524de1980547eaea",
        "type": "function",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "Decrease nco",
        "func": "let currentNCO = global.get(\"nco\");\nlet uppedNCO = parseFloat(currentNCO) - 250;\nmsg.payload = uppedNCO.toString();\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 80,
        "wires": [
            [
                "5af92414e3f29873"
            ]
        ]
    },
    {
        "id": "4c5bde857e7964a8",
        "type": "file in",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "filename": "imagesize",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 1760,
        "y": 640,
        "wires": [
            [
                "2a88de9371c58247"
            ]
        ]
    },
    {
        "id": "e0a8b11837a3a291",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1610,
        "y": 620,
        "wires": [
            [
                "4c5bde857e7964a8"
            ]
        ]
    },
    {
        "id": "d52ca12408c4cd7d",
        "type": "comment",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "profile loading change imagesize",
        "info": "",
        "x": 1810,
        "y": 600,
        "wires": []
    },
    {
        "id": "fcb0e7384f253327",
        "type": "inject",
        "z": "2ec6a7ddfe0cd173",
        "g": "e6bb4e6e08658367",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 1570,
        "y": 680,
        "wires": [
            [
                "2a88de9371c58247"
            ]
        ]
    },
    {
        "id": "16855981254e7e93",
        "type": "mqtt-broker",
        "name": "Pluto_tuin",
        "broker": "192.168.2.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9ed1d9a126995072",
        "type": "ui_group",
        "name": "TX",
        "tab": "9b3296db2e0c849f",
        "order": 1,
        "disp": true,
        "width": "19",
        "collapse": true,
        "className": ""
    },
    {
        "id": "406afa738005f2e6",
        "type": "ui_group",
        "name": "Device settings",
        "tab": "9b3296db2e0c849f",
        "order": 4,
        "disp": true,
        "width": "19",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4f22c4dbc8bc16dd",
        "type": "ui_group",
        "name": "Custom profile",
        "tab": "9b3296db2e0c849f",
        "order": 3,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcc9c17467f14364",
        "type": "ui_group",
        "name": "Buffer status",
        "tab": "9b3296db2e0c849f",
        "order": 5,
        "disp": true,
        "width": "11",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a1d06162a1de7754",
        "type": "ui_group",
        "name": "Profiles",
        "tab": "9b3296db2e0c849f",
        "order": 2,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9b3296db2e0c849f",
        "type": "ui_tab",
        "name": "Pluto",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]